.k-notification {
    border-radius: 0;

    .k-notification-wrap {
        .k-icon {
            margin-top: 0 !important;
        }

        .k-notification-content {
            // margin-right: 1.25rem;
            white-space: normal;
        }
    }
}
