#network {
    .picture {
        width: 10em;
        height: 10em;
        margin: 1em auto;
        display: block;
        float: none;
    }

    .title,
    .message {
        text-align: center;
    }
}
