@import 'ui.mixins';

#player {
    .km-stretched-view {
        // http://docs.telerik.com/kendo-ui/controls/hybrid/how-to/relative-content-size-using-flexboxes
        display: flex;
        flex-wrap: wrap;

        .stretched-item.padding {
            padding: 1em;

            .heading {
                h2 {
                    margin: 0;
                    font-size: 1rem;

                    img {
                        height: 1.5em;
                        width: 1.5em;
                        margin-right: 0.5em;
                        vertical-align: middle;
                    }

                    .tts.km-button {
                        font-size: 0.9em;
                        height: 1.8em;
                        width: 1.8em;
                        padding: 0;
                        margin: 0;
                        border-radius: 50%;
                        float: right;

                        span.km-icon.km-notext {
                            vertical-align: middle;
                        }
                    }
                }
            }

            /*
            .markdown {
                min-height: 2em; // So as to have a surface for swiping between pages
            }
            */
        }
    }
}
