@import 'ui.mixins';

#player {
    .km-stretched-view {
        // http://docs.telerik.com/kendo-ui/controls/hybrid/how-to/relative-content-size-using-flexboxes
        display: flex;
        flex-wrap: wrap;

        .app-stage-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .app-info-container {
            border-style: solid;
            box-sizing: border-box !important;
            padding: 1em;

            .app-heading {
                align-items: center;
                display: flex;
                font-size: 1rem;
                margin: 0;

                img.app-icon {
                    height: 1.5em;
                    width: 1.5em;
                    margin-right: 0.5em;
                }

                span.app-title {
                    font-weight: bold;
                    flex: 1;
                }

                a.app-tts {
                    border-radius: 50%;
                    font-size: 0.9em;
                    height: 1.8em;
                    margin: 0;
                    padding: 0;
                    width: 1.8em;

                    span.km-icon.km-notext {
                        vertical-align: middle;
                    }
                }
            }

            /*
            .app-markdown {
                min-height: 2em; // So as to have a surface for swiping between pages
            }
            */
        }
    }
}
