@import 'ui.mixins';

#summary {
    .app-picture {
        @include picture();
    }

    .km-list {
        .app-bold {
            @include bold();
        }

        .app-field {
            @include field();
        }

        .k-rating {
            .k-rating-container {
                margin-left: 0;

                .k-rating-item {
                    padding: 0;

                    .k-icon {
                        font-size: 16px;
                    }

                }
            }
            //.k-rating-label {}
        }

        .km-badge-error,
        .km-badge-success,
        .km-badge-warning {
            border-radius: 50%;
            float: right;
            padding: 6px;
            margin-top: -6px;
            position: relative;
        }

        .kj-markdown {
            // Because of circular references considering there is no collision between views
            /* stylelint-disable no-descending-specificity */
            p:first-child {
                margin-top: 0;
            }
            /* stylelint-enable */
        }
    }

    .app-buttons {
        @include buttons();
    }
}
