@import 'ui.mixins';

#signin {
    .k-scrollview.km-scrollview {
        // border: none;

        div[data-role="page"] {
            overflow: hidden;

            .app-image {
                position: absolute;
                width: 80vmin;
                top: 10vmin;
                left: 50%;
                margin-left: -40vmin;

                img {
                    width: 100%;
                }
            }

            .app-text {
                position: absolute;
                bottom: 0;
                height: 30%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-style: solid;
                border-width: 1px 0 0 0;
                // background-color and border-color in app.template.less
                p {
                    text-align: center;
                    white-space: initial;
                    width: 80%;
                }
            }

            /*
            .k-notification-wrap {
                .k-text {
                    margin-right: 3em;
                }
            }
            */

            .km-list > li {
                // padding: 0.5em 0;

                > span.km-icon {
                    display: none; // Fix for a useless span that breaks our layout
                }

                .km-button {
                    box-sizing: border-box;
                    width: 100%;

                    .km-icon {
                        margin-left: -0.7em;
                        margin-right: 0.7em;
                    }
                }

                .km-button[data-provider]:not(.km-state-disabled) {
                    color: #fff;
                }

                .km-button[data-provider="google"]:not(.km-state-disabled) {
                    background-color: #d9534f;
                    border-color: #d43f3a;
                }

                .km-button[data-provider="google"].km-state-active {
                    background-color: #c9302c;
                    border-color: #ac2925;
                }

                .km-button[data-provider="facebook"]:not(.km-state-disabled) {
                    background-color: #337ab7;
                    border-color: #2e6da4;
                }

                .km-button[data-provider="facebook"].km-state-active {
                    background-color: #204d74;
                    border-color: #122b40;
                }

                .km-button[data-provider="twitter"]:not(.km-state-disabled) {
                    background-color: #5bc0de;
                    border-color: #46b8da;
                }

                .km-button[data-provider="twitter"].km-state-active {
                    background-color: #31b0d5;
                    border-color: #269abc;
                }

                .km-button[data-provider="live"]:not(.km-state-disabled) {
                    background-color: #5cb85c;
                    border-color: #4cae4c;
                }

                .km-button[data-provider="live"].km-state-active {
                    background-color: #449d44;
                    border-color: #398439;
                }

                .km-button[data-provider="dummy"] {
                    color: initial;
                }
            }
        }

        /*
        ol.k-pages.km-pages {
            // background-color in app.template.less
            &.no-background {
                background-color: initial;
                border: none;
            }
        }
        */
    }
}
