@import 'ui.mixins';

#sync {
    .km-thumbnail {
        @include picture
    }

    .title,
    .message {
        text-align: center;
    }

    .progress {
        margin: 1em;

        .k-progressbar {
            box-sizing: border-box;
            width: 100%; // calc(100% - 4px);
            margin: 1em 0;
        }
    }
}
