@import 'ui.mixins';

#sync {
    .app-picture {
        @include picture();
    }

    .app-title {
        @include title();
    }

    .app-description {
        @include description();
    }

    .app-progress {
        margin: 1em;

        .k-progressbar {
            box-sizing: border-box;
            width: 100%; // calc(100% - 4px);
            margin: 1em 0;
        }
    }

    .app-buttons {
        @include buttons();
    }
}
