<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="30805" id="com.kidoju.mobile" ios-CFBundleVersion="0.3.8.5" version="0.3.8" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kidoju Mobile</name>
    <description>Mobile app for the Kidoju platform.</description>
    <author email="support@memba.com" href="http://www.memba.com">Memba Sarl</author>
    <content src="index.html" />
    <icon height="1024" src="www/res/icon/default.png" width="1024" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="27" />
    <preference name="android-compileSdkVersion" value="27" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="LoadUrlTimeoutValue" value="60000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="windows-arch" value="x64" />
    <preference name="windows-appx-target" value="uap" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="pgb-builder-version" value="2" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="167" platform="ios" src="www/res/icon/ios/icon-167.png" width="167" />
        <splash src="www/res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="www/res/screen/ios/Default@2x~ipad~anycom.png" />
        <splash src="www/res/screen/ios/Default@2x~ipad~comany.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~anycom.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~comany.png" />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icon/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="www/res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-100.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icon/windows/Square30x30Logo.scale-100.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/StoreLogo.scale-100.png" width="50" />
        <icon height="120" platform="windows" src="www/res/icon/windows/StoreLogo.scale-240.png" width="120" />
        <icon height="44" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-100.png" width="44" />
        <icon height="106" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-240.png" width="106" />
        <icon height="70" platform="windows" src="www/res/icon/windows/Square70x70Logo.scale-100.png" width="70" />
        <icon height="71" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-100.png" width="71" />
        <icon height="170" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-240.png" width="170" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-240.png" width="360" />
        <icon height="310" platform="windows" src="www/res/icon/windows/Square310x310Logo.scale-100.png" width="310" />
        <icon height="150" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-100.png" width="310" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-240.png" width="744" />
        <splash height="300" platform="windows" src="www/res/screen/windows/SplashScreen.scale-100.png" width="620" />
        <splash height="1920" platform="windows" src="www/res/screen/windows/SplashScreenPhone.scale-240.png" width="1152" />
    </platform>
    <access origin="http://10.0.0.105/*" />
    <access origin="https://*.kidoju.com/*" />
    <access origin="https://s3.amazonaws.com/*" />
    <access origin="https://*.facebook.com/*" />
    <access origin="https://*.fbcdn.net/*" />
    <access origin="https://www.googleapis.com/*" />
    <access origin="https://*.googleusercontent.com/*" />
    <access origin="https://*.live.com/*" />
    <access origin="https://apis.live.net/*" />
    <access origin="https://api.twitter.com/*" />
    <access origin="https://*.twimg.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-intent href="amzn:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="InAppBrowserStorageEnabled" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="SplashScreen" value="screen" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/res/screen/browser/splashscreen.png" />
        <preference name="SplashScreenBackgroundColor" value="black" />
        <preference name="ShowSplashScreen" value="false" />
        <preference name="SplashScreenWidth" value="600" />
        <preference name="SplashScreenHeight" value="300" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="8.0" />
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="Orientation" value="all" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <hook src="hooks/removeAdFramework.js" type="after_plugin_install" />
    </platform>
    <platform name="windows">
        <preference name="WindowsToastCapable" value="true" />
    </platform>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" platform="android" target="/manifest/application/activity[@android:label='@string/activity_name']">
        <activity android:allowTaskReparenting="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan" />
    </edit-config>
    <edit-config file="*-Info.plist" mode="overwrite" platform="ios" target="ITSAppUsesNonExemptEncryption">
        <false />
    </edit-config>
    <edit-config file="*-Info.plist" mode="overwrite" platform="ios" target="NSCameraUsageDescription">
        <string>Scan QR Codes</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="overwrite" platform="ios" target="UIRequiresFullScreen">
        <false />
    </edit-config>
    <edit-config file="*-Info.plist" mode="overwrite" platform="ios" target="UIStatusBarHidden">
        <true />
    </edit-config>
    <edit-config file="*-Info.plist" mode="overwrite" platform="ios" target="UIViewControllerBasedStatusBarAppearance">
        <false />
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-customurlscheme" spec="4.4.0">
        <variable name="URL_SCHEME" value="com.kidoju.mobile" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.3" />
    <plugin name="phonegap-plugin-speech-synthesis" spec="https://github.com/macdonst/SpeechSynthesisPlugin" />
    <plugin name="cordova-plugin-google-analytics" spec="https://github.com/jlchereau/google-analytics-plugin" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-battery-status" spec="^2.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.1">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Scan QR Codes" />
    </plugin>
    <plugin name="cordova-plugin-safariviewcontroller" spec="^1.5.4" />
    <plugin name="cordova-plugin-x-socialsharing" spec="5.4.4">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.1+" />
    </plugin>
    <engine name="android" spec="~8.0.0" />
    <engine name="browser" spec="~6.0.0" />
    <engine name="ios" spec="~5.0.0" />
    <engine name="windows" spec="~7.0.0" />
</widget>
