// @use "../common/actionsheet.scss" as *;
// @use "base.scss" as *;

// ActionSheet
.km-#{$skin-name} {
    .km-actionsheet > li > a {
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
    }

    li.km-actionsheet-cancel > a {
        color: $flat-second-color;
    }

    .km-actionsheet > li > a {
        display: block;
    }

    .km-actionsheet > li:last-child > a {
        border: 0;
    }

    .km-shim li.km-actionsheet-title,
    .km-popup li.km-actionsheet-title {
        display: none;
    }

    .km-actionsheet-wrapper.km-popup {
        padding: 2px 0;
    }
}
