// @use "../common/forms.scss" as *;
// @use "base.scss" as *;

// Slider

.km-#{$skin-name} .k-slider .k-draghandle,
.km-#{$skin-name} .k-slider .k-draghandle:hover {
    border: 0;
    border-radius: 5em;
}

.km-#{$skin-name} .k-slider .k-draghandle {
    top: -7px;
}

.km-#{$skin-name} .k-slider-track {
    margin: -0.5em 0.5em 0 0;
    @include box-sizing(content-box);
    border-radius: 0.5em;
    background-color: $flat-second-color;
}

.km-#{$skin-name} .k-slider-horizontal .k-slider-track {
    height: 0.29rem;
}

.km-#{$skin-name} .k-slider-vertical .k-slider-track {
    width: 0.29rem;
}

.km-#{$skin-name} .k-slider-selection {
    margin-left: 0;
}

.km-#{$skin-name} .k-slider-vertical .k-draghandle {
    top: initial;
    left: -6px;
}

.km-#{$skin-name} .k-slider-vertical .k-slider-selection {
    width: 0.29rem;
    margin-left: -2px;
    border-radius: 3px;
}

// Forms

.km-#{$skin-name} .km-list input[type=password],
.km-#{$skin-name} .km-list input[type=search],
.km-#{$skin-name} .km-list input[type=number],
.km-#{$skin-name} .km-list input[type=tel],
.km-#{$skin-name} .km-list input[type=url],
.km-#{$skin-name} .km-list input[type=email],
.km-#{$skin-name} .km-list input[type=month],
.km-#{$skin-name} .km-list input[type=color],
.km-#{$skin-name} .km-list input[type=week],
.km-#{$skin-name} .km-list input[type=date],
.km-#{$skin-name} .km-list input[type=time],
.km-#{$skin-name} .km-list input[type=datetime],
.km-#{$skin-name} .km-list input[type=datetime-local],
.km-#{$skin-name} .km-list input[type=text]:not(.k-input),
.km-#{$skin-name} .km-list select:not([multiple]),
.km-#{$skin-name} .km-list .k-dropdown-wrap,
.km-#{$skin-name} .km-list textarea {
    @include appearance(none);
    font-size: 1.1rem;
    min-width: 6em;
    border: 0;
    padding: 0.4em 0;
    outline: none;
    background: transparent;
}

.km-#{$skin-name} .km-list .k-dropdown-wrap {
    padding: 0.2em;
}

.km-#{$skin-name} .km-list .k-dropdown {
    margin-top: -1.05em;
    font-weight: normal;
}

.km-#{$skin-name} .km-list input[type=color],
.km-#{$skin-name} .km-list input[type=week],
.km-#{$skin-name} .km-list input[type=date],
.km-#{$skin-name} .km-list input[type=time],
.km-#{$skin-name} .km-list input[type=month],
.km-#{$skin-name} .km-list input[type=datetime],
.km-#{$skin-name} .km-list input[type=datetime-local],
.km-#{$skin-name} .km-list .k-dropdown {
    text-align: left;
}

.km-#{$skin-name} .km-list .k-dropdown .k-dropdown-wrap {
    display: block;
    border-radius: 0;
    background: transparent;
    @include box-shadow(none);
}

// Checkboxes and Radios

.km-#{$skin-name} .km-listview-label input[type=checkbox] {
    margin-top: -0.7em;
}

.km-#{$skin-name} .km-listview-label input[type=radio],
.km-#{$skin-name} .km-listview-label input[type=checkbox] {
    border-width: $flat-border-width;
    border-style: solid;
    width: 1.4em;
    height: 1.4em;
    border-radius: $flat-border-radius;
}

.km-#{$skin-name} .km-listview-label input[type=radio] {
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
}

.km-#{$skin-name} .km-listview-label input[type=checkbox]:after {
    content: "\a0";
    display: block;
    width: 90%;
    height: 76%;
    @include transform(scale(.9,1));
    @include transform-origin(10% 50%);
}

.km-#{$skin-name} .km-listview-label input[type=checkbox]:checked:after {
    font-size: 1.4em;
}

.km-#{$skin-name} .km-listview-label input[type=radio]:after {
    color: transparent;
}

// Nova theme features
.km-#{$skin-name} .km-icon-label.km-required:after {
    margin-left: -0.89em;
}

.km-#{$skin-name} .km-label-above {
    font-size: 0.87em;
    margin-top: -2px;
    padding-top: 0.92em;
    padding-bottom: 2.5em;
}

.km-#{$skin-name} fieldset .km-label-above {
    margin-top: 0;
    padding-top: 1.455em;
    padding-bottom: 3.091em;
}

.km-#{$skin-name} .km-label-above textarea {
    top: 50%;
}

.km-#{$skin-name} {
    .km-list {
        .km-label-above {
            input[type=password],
            input[type=search],
            input[type=number],
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week],
            input[type=date],
            input[type=time],
            input[type=datetime],
            input[type=datetime-local],
            input[type=text]:not(.k-input),
            select:not([multiple]),
            .k-dropdown-wrap,
            textarea  {
                left: 0.7em;
                margin-top: -0.375em;
            }
        }
    }
}

.km-#{$skin-name} {
    .km-list {
        fieldset {
            .km-label-above {
                input[type=password],
                input[type=search],
                input[type=number],
                input[type=tel],
                input[type=url],
                input[type=email],
                input[type=month],
                input[type=color],
                input[type=week],
                input[type=date],
                input[type=time],
                input[type=datetime],
                input[type=datetime-local],
                input[type=text]:not(.k-input),
                select:not([multiple]),
                .k-dropdown-wrap,
                textarea  {
                    margin-top: -0.25em;
                }
            }
        }
    }
}

.km-#{$skin-name} .km-list fieldset {
    border: none;
    padding: 0 1.61em;
    margin: -0.5em -1.61em;
}

.km-#{$skin-name} .km-list fieldset > input[type=password],
.km-#{$skin-name} .km-list fieldset > input[type=search],
.km-#{$skin-name} .km-list fieldset > input[type=number],
.km-#{$skin-name} .km-list fieldset > input[type=tel],
.km-#{$skin-name} .km-list fieldset > input[type=url],
.km-#{$skin-name} .km-list fieldset > input[type=email],
.km-#{$skin-name} .km-list fieldset > input[type=month],
.km-#{$skin-name} .km-list fieldset > input[type=color],
.km-#{$skin-name} .km-list fieldset > input[type=week],
.km-#{$skin-name} .km-list fieldset > input[type=date],
.km-#{$skin-name} .km-list fieldset > input[type=time],
.km-#{$skin-name} .km-list fieldset > input[type=datetime],
.km-#{$skin-name} .km-list fieldset > input[type=datetime-local],
.km-#{$skin-name} .km-list fieldset > input[type=text]:not(.k-input),
.km-#{$skin-name} .km-list fieldset > select:not([multiple]),
.km-#{$skin-name} .km-list fieldset > .k-dropdown-wrap {
    padding: 1.23em 0;
    margin-top: 0;
}

.km-#{$skin-name} .km-list fieldset legend {
    text-indent: 0;
    margin: 0 -1.61em;
    font-weight: normal;
    padding: 1.8em 1.61em 0.72em;
    width: 100%;
    box-sizing: content-box;
    text-transform: uppercase;
}

.km-#{$skin-name} .km-legend-button {
    padding: 2.5em 1.61em 0.39em;
    margin: -2.5em -1.61em -0.39em;
    text-transform: uppercase;
}

.km-#{$skin-name} .km-list fieldset .km-inline-field {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1.61em;
    border-right-width: 1px;
    border-right-style: solid;
}

.km-#{$skin-name} .km-list fieldset .km-inline-field:first-of-type {
    padding-left: 0;
}

.km-#{$skin-name} .km-inline-field.km-label-above {
    margin-bottom: 0;
}

.km-#{$skin-name} {
    .km-list {
        .km-inline-field {
            input[type=password],
            input[type=search],
            input[type=number],
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week],
            input[type=date],
            input[type=time],
            input[type=datetime],
            input[type=datetime-local],
            input[type=text]:not(.k-input),
            select:not([multiple]),
            .k-dropdown-wrap,
            textarea  {
                left: 0;
                padding-left: 0;
                padding-left: 1em;
            }
        }
    }
}

.km-#{$skin-name} {
    .km-list {
        .km-inline-field:first-of-type {
            input[type=password],
            input[type=search],
            input[type=number],
            input[type=tel],
            input[type=url],
            input[type=email],
            input[type=month],
            input[type=color],
            input[type=week],
            input[type=date],
            input[type=time],
            input[type=datetime],
            input[type=datetime-local],
            input[type=text]:not(.k-input),
            select:not([multiple]),
            .k-dropdown-wrap,
            textarea  {
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}

.km-#{$skin-name} .km-list .km-full-width-slider {
    margin-top: 0;
    padding: 1.55em 0;
}

// Standalone Checkboxes and RadioButtons
.km-root .km-checkbox-label,
.km-root .km-radio-label {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0.89em;
}

.km-root .km-checkbox-label:before,
.km-root .km-checkbox-label:after {
    right: 0.7em;
    width: 1.33rem;
    height: 1.33rem;
    border-width: 0.133rem;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
}

.km-root input.km-checkbox:checked + .km-checkbox-label:after {
    line-height: 1.2em;
}

//Radio buttons
.km-root .km-radio-label {
    padding-left: 2.5em;
    line-height: 1.5em;
}

.km-root .km-radio-label:before {
    width: 1.35rem;
    height: 1.35rem;
    border-width: 0.133rem;
    border-style: solid;
}

.km-root input.km-radio:checked + .km-radio-label:after {
    width: 0.95rem;
    height: 0.95rem;
    left: 0.25rem;
}
