// @use "../common/navbar.scss" as *;
// @use "base.scss" as *;

// NavBar

.km-#{$skin-name} {
    .km-navbar {
        border: $flat-border-width solid $border-color;
    }

    .km-header .km-navbar {
        border-width: 0 0 $flat-border-width;
    }

    .km-footer .km-navbar {
        border-width: $flat-border-width 0 0;
    }

    .km-toolbar,
    .km-navbar,
    .km-tabstrip,
    .km-tabstrip .km-button {
        border-radius: 0;
    }
}

// Added by JLC
.km-flat {
    .km-navbar {
        @include fill(
            $primary-contrast,
            $primary,
            $primary
        );

        .km-button {
            @include fill(
                $primary-contrast,
                $primary,
                $primary
            );
        }
    }
}
