// @use "../common/popover.scss" as *;
// @use "base.scss" as *;

// PopOver
.km-#{$skin-name} {
    .km-popup.km-pane {
        border: 5px solid transparent;
    }

    .km-popup.km-pane .km-navbar,
    .km-popup.km-pane .km-toolbar,
    .km-popup.km-pane .km-tabstrip {
        background: none;
    }

    .km-popup.km-pane .km-header {
        padding: 0 5px;
        margin: -5px -5px 2px;
        border-radius: $flat-border-radius $flat-border-radius 0 0;
        -webkit-margin-collapse: separate;
    }

    .km-popup-arrow:after {
        border-color: rgba(0, 0, 0, .5) transparent;
        border-style: solid;
        border-width: 0 15px 15px;
    }

    .km-down .km-popup-arrow:before {
        margin-top: -1px;
    }

    .km-up .km-popup-arrow:after {
        border-width: 15px 15px 0 15px;
    }

    .km-left .km-popup-arrow:after {
        border-width: 15px 0 15px 15px;
    }

    .km-right .km-popup-arrow:after {
        border-width: 15px 15px 15px 0;
    }
}
