// @use "../common/scroller.scss" as *;
// @use "base.scss" as *;

// Scroller

.km-#{$skin-name} .km-touch-scrollbar {
    border: 0;
    @include box-sizing(border-box);
    border-radius: 1em;
}

.km-#{$skin-name} .km-scroller-pull .km-icon:after {
    margin-left: -5px;
    margin-top: -2px;
}
