// @use "../common/navbar.scss" as *;
// @use "../../common/transitions.scss" as *;
// @use "base.scss" as *;

// ToolBar
.km-#{$skin-name} {
    .k-toolbar {
        line-height: 2.1em;
    }

    .k-toolbar .km-button,
    .k-toolbar .k-split-button {
        padding-top: 0;
        padding-bottom: 0;
        line-height: inherit;
    }

    .k-toolbar .k-button-icon .km-icon,
    .k-toolbar .k-button-icontext .km-icon,
    .k-split-button .km-arrowdown {
        width: 1em;
        height: 1em;
        font-size: 1.2em;
        margin-top: -7px;
        margin-bottom: -2px;
        vertical-align: middle;
    }

    .k-split-button .km-arrowdown {
        margin-left: 2px;
        margin-right: 1px;
    }

    .k-split-button .k-button-icontext {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .k-split-button-arrow {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .km-actionsheet.k-split-container > li > .km-button,
    .km-actionsheet.k-overflow-container > li > .km-button {
        min-width: 10em;
        text-align: center;
        font-size: 1.1em;
        border: 0;
        border-radius: 0;
    }

    .km-actionsheet.k-split-container > li > .km-button {
        min-width: 5em;
    }

    .k-split-wrapper .km-actionsheet-wrapper,
    .k-overflow-wrapper .km-actionsheet-wrapper {
        padding: 1px;
    }

    // html .km-flat .k-split-container.km-actionsheet > li,
    // html .km-flat .k-overflow-container.km-actionsheet > li {
    .k-split-container.km-actionsheet > li,
    .k-overflow-container.km-actionsheet > li {
        margin-top: 0;
        margin-bottom: 0;
    }

    .k-split-container.km-actionsheet,
    .k-overflow-container.km-actionsheet {
        border-top: 0;
    }
}
