.km-#{"" + $skin-name} {

    // Navbar

    .km-navbar {
        @include fill(
            $primary-button-text,
            $primary-button-bg,
            $primary-button-border,
            $primary-button-gradient
        );

        // Note: Navbar buttons with primary buttons below
    }

    // Drawer

    .km-drawer {
        .km-navbar {
            @include fill(
                $secondary-contrast,
                $secondary-darker,
                $secondary-darker
            );
        }

        .km-content {
            @include fill(
                $secondary-contrast,
                $secondary,
                $secondary
            );

            .km-list > li {
                @include fill(
                    $secondary-contrast,
                    $secondary,
                    $secondary,
                );
            }
        }
    }

    // Button

    .km-button {
        @include fill(
            $button-text,
            $button-bg,
            $button-border,
            $button-gradient
        );

        // Pressed state
        &:active,
        &.km-state-active {
            @include fill(
                $button-active-text,
                $button-active-bg,
                $button-active-border,
                $button-active-gradient
            );

            box-shadow: inset $button-active-shadow;
        }
    }

    .km-navbar .km-button,
    .km-button.km-primary {
        @include fill(
            $primary-button-text,
            $primary-button-bg,
            $primary-button-border,
            $primary-button-gradient
        );

        // Active state
        &:active,
        &.km-state-active {
            @include fill(
                $primary-button-active-text,
                $primary-button-active-bg,
                $primary-button-active-border,
                $primary-button-active-gradient
            );

            box-shadow: $primary-button-active-shadow;
        }
    }

    // Actionsheet

    .km-widget.km-actionsheet > li {
        @include fill(
            $secondary-contrast,
            $secondary,
            $secondary,
        );
    }

    // Alternate background

    .km-alt {
        background: $flat-list-background;
        border-color: $flat-border-color;
        @include box-shadow(inset 0 $flat-border-width 0 $flat-light-shadow);
    }
}
