/*See http://lesscss.org/ */
/*See https://kuler.adobe.com/Corporate-Orange-color-theme-120736/ */
/*Generic styles*/
/*See http://docs.telerik.com/kendo-ui/getting-started/mobile/icons#additional-icons-in-kendo-ui-mobile-font*/
.km-drawer-button:after,
.km-drawer-button:before {
  content: "\e0f1";
}
/*layout*/
.km-navbar {
  background-color: #f57126;
  color: #ffffff;
}
input[type=search] {
  border-radius: 1.06em;
  width: 250px;
}
/*Menu drawer*/
.km-drawer {
  background-color: #f79157;
  color: #ffffff;
}
.km-drawer .km-scroll-wrapper {
  background-color: #f79157;
}
.km-drawer .km-list > li {
  background-color: #f79157;
  color: #ffffff;
  border-color: rgba(222, 87, 10, 0.2);
}
.km-drawer .km-listview-link:after {
  color: #ffffff;
}
/*Main view*/
/*Search view*/
