<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <!-- The following CSP is the one added by default bu the Phonegap Developper App -->
    <!--meta http-equiv="Content-Security-Policy" content="default-src * gap: ws: https://ssl.gstatic.com;img-src 'self' data: content:;style-src 'self' 'unsafe-inline' data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;"-->
    <!-- The following is our CSP    https://accounts.google.com https://www.facebook.com https://login.live.com; -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' cdvfile: data: filesystem: gap: kidoju: https://*.kidoju.com; connect-src https://*.kidoju.com http://10.0.0.105:* ws://10.0.0.105:*; img-src 'self' cdvfile: data: filesystem: https://*.kidoju.com https://s3.amazonaws.com https://*.twimg.com; script-src 'self' 'unsafe-eval' 'unsafe-inline' blob: https://*.phonegap.com http://10.0.0.105:*; style-src 'self' 'unsafe-inline';">
    <title>Kidoju.Mobile</title>
    <!--script src="http://10.0.0.105:8080/target/target-script-min.js#anonymous"></script-->
    <script src="./cordova.js"></script>
    <script src="./build/jquery.min.js"></script>
    <script>
        // Hold the execution of jQuery's ready event
        // @see https://api.jquery.com/jquery.holdready/
        $.holdReady(true);
    </script>
    <script src="./build/app.bundle.js"></script>
</head>
<body>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Tablet application (simply for testing at this stage)                     -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div id="tablet" class="k-group" style="display: none;">

    <!-- Tablet layout -->
    <div data-role="layout" data-id="tablet-main-layout">
        <header data-role="header">
            <div data-role="navbar" class="km-accent">
                <span data-role="view-title"></span>
            </div>
        </header>
    </div>

    <!-- Sign-in view -->
    <div id="tablet-signin" data-role="view" data-layout="tablet-main-layout" data-title="Signin">
        <ul data-role="listview">
            <li><a href="#">Hello</a></li>
            <li><a href="#">World</a></li>
        </ul>
    </div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Phone application                                                         -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div id="phone" class="k-group">

    <!-- Phone layout -->
    <div data-role="layout" data-id="phone-main-layout">
        <header data-role="header">
            <div data-role="navbar" class="km-accent">
                <a id="phone-main-layout-drawer" data-role="button" class="nav-button" data-align="left" data-icon="drawer-icon" href="#phone-drawer" data-rel="drawer"></a>
                <a id="phone-main-layout-home" data-role="button" class="nav-button" data-align="left" data-icon="home" href="#phone-categories"></a>
                <a id="phone-main-layout-previous-page" data-role="button" class="nav-button" data-align="left" data-icon="previous" data-click="app.mobile.onNavbarPreviousPageClick"></a>
                <a id="phone-main-layout-previous-user" data-role="button" class="nav-button" data-align="left" data-icon="previous" data-click="app.mobile.onNavbarPreviousUserClick"></a>
                <span data-role="view-title"></span>
                <a id="phone-main-layout-next-user" data-role="button" class="nav-button" data-align="right" data-icon="next" data-click="app.mobile.onNavbarNextUserClick"></a>
                <a id="phone-main-layout-next-page" data-role="button" class="nav-button" data-align="right" data-icon="next" data-click="app.mobile.onNavbarNextPageClick"></a>
                <a id="phone-main-layout-last-page" data-role="button" class="nav-button" data-align="right" data-icon="last" data-click="app.mobile.onNavbarLastPageClick"></a>
                <a id="phone-main-layout-submit" data-role="button" class="nav-button" data-align="right" data-icon="submit" data-click="app.mobile.onNavbarSubmitClick"></a>
                <a id="phone-main-layout-sync" data-role="button" class="nav-button" data-align="right" data-icon="sync" data-click="app.mobile.onNavbarSyncClick"></a>
                <a id="phone-main-layout-search" data-role="button" class="nav-button" data-align="right" data-icon="search" data-click="app.mobile.onNavbarSearchClick"></a>
                <ul id="phone-main-layout-sort" data-role="buttongroup" data-index="0">
                    <li>Recent</li>
                    <li>Popular</li>
                    <li>Best</li>
                </ul>
            </div>
            <div id="notification"></div>
        </header>
    </div>

    <!-- Drawer -->
    <div id="phone-drawer" data-role="drawer" data-position="left" data-swipe-to-open="false" data-model="app.mobile.viewModel">
        <header data-role="header">
            <div data-role="navbar">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="45" width="102" viewBox="0 0 120 50" enable-background="new 0 0 120 50" xml:space="preserve">
                    <g id="logo">
                        <g>
                            <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.5" d="M44.2,19.8c0-0.2,0.2-0.4,0.5-0.6c0.7-0.6,1.4-1,1.9-1.1l0.5,0.5
                            c-0.1,0.3-0.2,0.7-0.3,1.2c-0.1,0.4-0.1,0.7-0.1,0.8v0.6l-0.3,0.4c0,0.3,0.1,0.6,0.4,0.8c-0.1,0.1-0.1,0.2-0.1,0.2l0,0.8l0,0.2
                            c0,0.1,0,0.2,0,0.4l-0.1,3.2c0,0.2,0.1,0.6,0.2,1.2l0,0.7c0.1,0.3,0.1,0.5,0.1,0.6c0,0.2-0.1,0.5-0.3,0.6
                            c-0.1,0.1-0.3,0.2-0.6,0.4c-0.6,0.4-0.9,0.7-1,0.7c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.3-0.1-0.4-0.2c0-0.3,0.1-0.5,0.1-0.6
                            c0-0.1,0.1-0.4,0.2-0.7l0-0.8l0.1-1.7l0-0.3c0-0.2,0.1-0.3,0.3-0.3c0,0,0.1,0,0.2,0c0.1-0.2,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.5
                            c0-0.1-0.1-0.3-0.1-0.5l-0.3-0.2c0-0.2,0.1-0.4,0.1-0.6c0-0.1,0-0.1,0-0.3c0-0.1,0-0.2,0-0.2c0-0.1,0.1-0.3,0.2-0.5
                            c-0.1-0.1-0.2-0.3-0.2-0.4v-0.1v-0.1l0-0.4c0.7-0.1,1.1-0.3,1.1-0.4c0,0,0,0,0-0.1c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.4,0-0.7,0
                            c0-0.2,0.1-0.3,0.1-0.3c0,0,0-0.6-0.1-1.7C44.5,20,44.4,19.9,44.2,19.8z M44.5,13L44.5,13c0-0.4,0.3-0.8,0.9-1.3
                            c0.1-0.1,0.3-0.2,0.4-0.4c0,0,0.1-0.1,0.3-0.3c0.4-0.6,0.7-1,0.8-1c0.2-0.1,0.3-0.2,0.4-0.2c0,0,0.2,0.1,0.4,0.3
                            c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2-0.1,0.3-0.3,0.5c-0.5,0.4-1,0.8-1.5,1.2l-0.5,0.3L45.2,13c-0.3,0.2-0.5,0.3-0.5,0.3
                            C44.6,13.2,44.5,13.1,44.5,13z"></path>
                            <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.5" d="M52.9,22.2l0.6,0.1l0.1-0.1l-0.2-0.9c0.2-0.1,0.4-0.2,0.4-0.3
                            c0,0,0.4-0.3,1-1l0.5-0.3c0.2-0.2,0.4-0.3,0.5-0.3c0.1,0,0.3,0,0.6,0.1l0.2,0.2c0.2-0.2,0.5-0.3,0.8-0.4v-0.4
                            c0.1-0.1,0.3-0.2,0.8-0.3l0.8-0.3l0.6-0.1c0.3-0.1,0.4-0.1,0.5-0.1c0.1,0,0.2,0.1,0.4,0.2c0.3,0.2,0.5,0.4,0.6,0.4l0.3-0.4
                            c0.3,0.1,0.6,0.2,0.7,0.2c0.7,0.1,1.1,0.2,1.2,0.2l0.4,0.3c0,0,0.1,0.1,0.2,0.1c0.2,0,0.4-0.1,0.6-0.3c-0.2-0.2-0.2-0.3-0.3-0.4
                            l-0.1-1.1l-0.1-0.3c0.7-0.5,1-0.7,1-0.8c0-0.1-0.2-0.3-0.6-0.7c-0.3-0.3-0.4-0.8-0.4-1.5l0.4-0.2c-0.1-0.2-0.2-0.4-0.2-0.6
                            c-0.2-0.5-0.3-0.9-0.3-1.1L64,11.5c0-0.3,0-0.8,0-1.3c0-0.2,0-0.5,0.1-0.8l-0.2-1c0-0.1,0-0.2,0.1-0.3l0.3-0.2
                            c-0.1-0.2-0.2-0.3-0.2-0.3c0-0.1-0.2-0.1-0.5-0.1l-0.1-0.1l-0.1,0L65,6.6l-0.4-0.4l-0.1-0.8c0-0.2-0.2-0.3-0.6-0.5
                            c-0.5-0.2-0.8-0.3-0.8-0.4c0-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.5-0.2,1.3-0.3c0.2-0.3,0.8-0.5,1.6-0.6c0.1,0.2,0.1,0.4,0.1,0.8l0,0.3
                            v0c0,0,0,0.3-0.1,0.7v0.5l0,0.3v0.7v0.5v0.7c0,0.1,0,0.2-0.1,0.3C66.1,8.5,66,8.7,66,8.7l0.1,1.3l-0.3,0.6c0.1,0.4,0.2,0.7,0.4,1
                            L66,12.2l0.1,0.5C66,13,66,13.1,66,13.2c0,0.2,0,0.4,0.1,0.7c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2-0.1,0.3l-0.4,0.1
                            c-0.1,0.3-0.2,0.5-0.2,0.6c0,0.1,0,0.2,0,0.3c0.4,0.2,0.6,0.5,0.6,0.7c0,0,0,0.4-0.1,1c0,0.1,0,0.1,0,0.2c0,0.3,0,0.6,0.1,1
                            c0,0.1,0,0.2,0,0.3c0,0,0,0.1,0,0.1l0,0.3l0,0.4c-0.1,0.3-0.2,0.4-0.2,0.4l0,0.9l0,0.3l0,1l0.1,1.1l0,0.4l0.1,0.8l-0.1,0.8
                            l0.3,1.5l0,0.7c0.2,0.6,0.2,1,0.3,1.2c0,0.3,0,0.5,0,0.7c0.2,0.2,0.3,0.4,0.3,0.6c0,0.1,0,0.1,0,0.2c-0.1,0.1-0.5,0.1-1.2,0.2
                            c-0.5,0.1-0.9,0.2-1.3,0.2l-0.2-0.2c-0.3,0.2-0.6,0.3-0.8,0.4c-0.1,0-0.6,0.1-1.4,0.3c-1.2,0.3-2.1,0.5-2.6,0.5
                            c-0.8,0.1-1.3,0.2-1.5,0.2c-1,0-1.9-0.1-2.4-0.2l-0.3-0.5c-0.3,0.2-0.5,0.3-0.6,0.3c-0.1,0-0.1-0.1-0.2-0.2c0,0,0-0.1-0.1-0.3
                            c0-0.1-0.1-0.2-0.2-0.3c-0.2,0.1-0.4,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.4-0.2c-0.5-0.4-0.8-0.6-1-0.8c0-0.2,0.1-0.3,0.1-0.4
                            c0-0.2-0.1-0.4-0.3-0.6c-0.3-0.2-0.4-0.4-0.4-0.4l-0.1-0.3c-0.2-0.8-0.3-1.3-0.3-1.3c0-0.2,0-0.4,0.1-0.7c0.1-0.2,0.1-0.4,0.1-0.8
                            l0.3-0.5c0.4-1.1,0.7-1.7,0.8-1.8C52.5,22.5,52.7,22.4,52.9,22.2z M53.9,27.7c0.2,0.1,0.4,0.2,0.4,0.3l0.2,0.4
                            c0.3,0.4,0.5,0.6,0.6,0.8c0.1,0.1,0.3,0.3,0.7,0.6l0.4,0.4l0.5,0.2c0.4,0.3,0.6,0.4,0.6,0.4c0.2,0,0.4-0.3,0.5-0.9
                            c0.4,0.2,0.8,0.4,1.1,0.4l1.5-0.1h0.7l1.5-0.3c0.6-0.1,0.9-0.2,1-0.3c0.3-0.4,0.5-0.7,0.7-0.9C64,28.6,64,28.5,64,28.4l0.1-0.5
                            v-1.3l0-1.1C64,25.2,64,25,63.9,24.7l0.6-0.2c-0.1-0.2-0.1-0.4-0.1-0.5c0-0.1,0-0.2,0-0.3L64,23.6l1-0.8l-1-1.2l0-0.3
                            c0,0,0-0.1-0.1-0.2v-0.6c-0.2-0.1-0.3-0.1-0.4-0.1c0,0-0.2,0.1-0.5,0.2c0,0-0.1,0-0.2,0c-0.4,0-0.6-0.1-0.7-0.2l-0.6-0.5l-1.2-0.4
                            L59.8,19c-0.5,0.6-0.7,0.9-0.7,0.9h-0.1h-0.1c-0.2,0-0.5,0.1-0.8,0.3l-0.5,0c-0.3,0-0.6,0.2-1,0.6L56,20.7
                            c-0.2,0.2-0.3,0.4-0.4,0.4L55,21.4c-0.4,0.4-0.7,0.7-0.6,1.1c-0.3,0.2-0.6,0.5-0.8,0.8L53.2,24c-0.1,0.1-0.1,0.4-0.1,0.8
                            c0,0.2,0,0.4,0.1,0.7l0.1,0.4l0.2,0.4l0.2,0.4c0.2,0.4,0.3,0.6,0.3,0.7S53.9,27.6,53.9,27.7z"></path>
                            <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.5" d="M70.6,26.7c0-0.7,0-1.3,0.1-1.6c0.1-0.3,0.2-0.7,0.5-1.3
                            c0.5-0.9,0.7-1.3,0.8-1.5c0.1-0.1,0.3-0.3,0.8-0.6c0,0,0.1-0.2,0.3-0.5c0.1-0.2,0.2-0.3,0.3-0.3c0.1-0.1,0.6-0.3,1.3-0.7
                            c0.2-0.1,0.5-0.3,0.8-0.6c0,0,0.7-0.3,2-0.8c0.7-0.3,1.7-0.4,3-0.4c0.3,0,0.6,0,1,0.1l0.1,0.4c0.2,0.1,0.3,0.1,0.4,0.2
                            c0.2-0.1,0.3-0.2,0.4-0.4c0.6,0.1,1.2,0.4,1.6,0.7c0.4,0.2,0.5,0.4,0.6,0.4c0,0,0.1,0.2,0.3,0.6c0.2,0.4,0.6,0.5,1.2,0.5
                            c0.3,0.5,0.4,0.8,0.5,1c0.1,0.2,0.1,0.6,0.2,1.1c0.1,0.5,0.1,0.9,0.2,1.2h-0.3v0.2l-0.3,0.4c0,0.2,0.2,0.4,0.5,0.5
                            c0,0.5-0.1,0.8-0.1,1c0,0.1-0.1,0.3-0.3,0.6c-0.4,1-0.7,1.6-0.9,1.9c-0.6,0.7-1.1,1.2-1.6,1.3L83,30.5l-0.9,0.4
                            c-0.5,0.2-0.7,0.4-0.8,0.4s-0.6,0.1-1.6,0.1l-1.2,0.3h-1.2l-0.5,0.1c-1-0.2-1.6-0.3-1.9-0.3c-0.2-0.2-0.3-0.3-0.4-0.3
                            c0,0-0.2-0.1-0.7-0.1c-0.2,0-0.7-0.3-1.3-0.7c-0.1-0.1-0.3-0.2-0.6-0.3c-0.1-0.2-0.1-0.3-0.1-0.4c0-0.1-0.1-0.2-0.1-0.3
                            c0,0-0.1-0.1-0.4-0.2c0,0-0.1-0.1-0.1-0.2c-0.2-0.4-0.4-0.8-0.4-1.2c0-0.2,0.1-0.4,0.4-0.5C71,27,70.9,26.8,70.6,26.7L70.6,26.7z
                             M72.5,26.3v0.2l0.2,0.2c0.1-0.1,0.2-0.2,0.3-0.2c0.1,0.4,0.2,0.7,0.2,0.9c0.1,0.1,0.3,0.6,0.9,1.5c0,0,0,0.1,0,0.1
                            c0,0.1-0.1,0.3-0.2,0.5c0,0.2,0.2,0.2,0.5,0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.1,0,0.6,0.2,1.5,0.7c0.4,0.2,0.8,0.3,1.2,0.3h1l0.5,0.1
                            c0.2,0.1,0.4,0.1,0.6,0.1c0.3,0,0.6,0,0.9-0.1c0.2-0.1,0.5-0.1,0.9-0.2c0.1,0,0.5-0.3,1.2-0.7c0.4-0.1,0.7-0.2,0.7-0.3
                            c0.1-0.1,0.3-0.4,0.6-1l0.4-0.8c0.3-0.3,0.4-0.4,0.5-0.5c0-0.1,0.1-0.2,0.1-0.3c-0.2-0.3-0.3-0.5-0.3-0.5v0l0.1-0.3
                            c0-0.5,0.1-0.9,0.2-1.3c-0.1-0.2-0.2-0.6-0.3-1l-0.3-0.9c0-0.1,0-0.3-0.1-0.7l-0.1-0.1h-0.4c-0.1-0.2-0.4-0.6-0.8-1.1
                            c-0.2-0.3-0.4-0.4-0.4-0.5s-0.1-0.1-0.3-0.2c-0.2-0.1-0.4-0.2-0.8-0.3c-0.1-0.4-0.3-0.6-0.5-0.6c-0.1,0-0.2,0.1-0.5,0.2
                            c-0.4-0.1-0.5-0.1-0.6-0.1c-0.6,0-1,0-1.2,0c-0.2,0-0.5,0.1-0.9,0.4l-0.4-0.3c-0.2,0.2-0.3,0.4-0.4,0.4l-0.7,0.4L76,20.3L74,22
                            l-0.2,0.1c0,0.3-0.1,0.5-0.1,0.6l-0.3,0.6c-0.1,0.3-0.3,0.6-0.4,0.8c0,0.1,0,0.2,0,0.2c0,0.3-0.2,0.5-0.6,0.6c0,0,0,0.2,0.1,0.4
                            c0.3,0.2,0.5,0.4,0.5,0.4C73,26,72.8,26.1,72.5,26.3z"></path>
                            <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.5" d="M80.7,48c0.3-0.2,0.5-0.3,0.6-0.3c0.1,0,0.7,0.2,1.9,0.6
                            c0.4,0,0.7,0,1,0c0.2,0.3,0.4,0.4,0.5,0.4c0.1,0,0.3-0.1,0.5-0.3c0.3-0.1,0.5-0.1,0.6-0.1c0.1,0,0.2,0,0.4,0
                            c0.2-0.2,0.7-0.5,1.4-0.8c0.3-0.1,0.8-0.6,1.4-1.6c0.3-0.5,0.5-0.8,0.5-0.9l0.5-1.3c0.3-0.4,0.5-0.6,0.5-0.7
                            c0-0.1-0.1-0.5-0.2-1.2c0-0.1,0.4-0.5,1.2-1.4l0,0l-0.9-1.3l0-0.1c0.3-0.3,0.4-0.6,0.4-0.7c0-0.1,0-0.2,0-0.3
                            c-0.3-0.2-0.4-0.4-0.4-0.5v0l0.1-0.5l0-0.9l0.1-0.5c0-0.5-0.1-0.7-0.1-0.8c0-0.5,0.1-0.9,0.2-1.1l0.4,0.1c0.1-0.2,0.1-0.3,0.1-0.4
                            c0,0,0-0.1,0-0.2c-0.2,0-0.3,0.1-0.4,0.1c-0.2,0-0.3-0.1-0.3-0.3c0-0.1,0-0.2,0.1-0.4c0-0.1,0-0.4,0-0.6c0-0.4,0-0.7,0-0.9
                            c0-0.2,0-0.3,0-0.4c0-0.1,0-0.2,0.1-0.4l0.4,0.1c0.1-0.1,0.1-0.3,0.1-0.3c0-0.1-0.1-0.3-0.2-0.6c-0.1-0.2-0.3-0.4-0.5-0.5
                            c0.1-0.3,0.1-0.6,0.1-0.9c0-0.3,0-0.8,0-1.4h0.5c0.1-0.2,0.1-0.4,0.1-0.5c0-0.1,0-0.2,0-0.3h-0.5l-0.1-0.4v0
                            c0-0.1,0.1-0.3,0.2-0.7c0.2-0.4,0.4-0.6,0.4-0.7c0,0-0.1-0.2-0.2-0.6l-0.1-0.5l-0.4-0.5c-0.1-1.6-0.2-2.4-0.2-2.4
                            c-0.1-0.1-0.2-0.3-0.5-0.4c0.1-0.2,0.2-0.4,0.3-0.4l0.5-0.2c0.1-0.1,0.6-0.5,1.5-1c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0
                            c0.1,0.2,0.2,0.3,0.2,0.3L92.8,19l0.1,0.5l-0.1,1v0.9c-0.2,0.5-0.4,0.8-0.4,0.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2,0,0.3
                            c0,0.1,0,0.2-0.1,0.3c0.4,0.1,0.6,0.2,0.6,0.4c0,0.1,0,0.3-0.1,0.6c-0.1,0.1-0.1,0.3-0.1,0.6l0.1,2.4l0,0v0c0,0,0,0.1,0,0.1
                            c-0.1,0.2-0.1,0.4-0.1,0.6c0,0,0,0.2,0.1,0.6v0.1c0,0.1,0,0.2,0,0.2c0,0.4,0,0.6,0,0.6c0,0.1,0,0.3,0.1,0.6c0,0.3,0.1,0.5,0.1,0.9
                            l0.1,2.3l0,0.3c0,0.1-0.1,0.4-0.2,0.8c0,0.1-0.1,0.2-0.1,0.4c0,0.1,0.1,0.4,0.3,1l0,0.6c0,1.2-0.1,1.9-0.1,2.1
                            c0,0.2-0.1,0.5-0.2,0.8l-0.4,0.2c0,0.2,0,0.3,0.1,0.5c0.1,0.2,0.2,0.3,0.2,0.4c0,0,0,0.1-0.1,0.4c0,0.3-0.1,0.7-0.2,1.2
                            c-0.2,0.7-0.3,1.2-0.5,1.5c-0.1,0.2-0.2,0.5-0.5,1.1c-0.2,0-0.3,0.1-0.3,0.1l-0.1,0.2c0,0-0.1,0.1-0.1,0.2
                            c-0.1,0.1-0.2,0.2-0.3,0.4c-0.4,0.7-0.7,1.2-0.9,1.3l-0.7,0.7L88.3,48c-0.5,0.3-0.8,0.4-0.9,0.5c-0.1,0.1-0.2,0.2-0.4,0.5
                            c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.5,0.1-1.2,0.3c-0.1,0.1-0.4,0.1-0.8,0.1c-0.3,0-0.8,0.1-1.5,0.2l-0.6,0h-0.3
                            c-0.3,0-0.7-0.2-1.1-0.5c-0.4-0.4-0.7-0.7-0.7-0.9L80.7,48z M89.6,12.8c0.2-0.5,0.6-1,1.2-1.4c0.1-0.2,0.1-0.3,0.1-0.3l0.4-0.5
                            c0.5-0.6,0.9-1,1.1-1c0.1,0,0.2,0.1,0.3,0.4c0.2,0.1,0.3,0.2,0.3,0.3c0.1,0,0.1,0.2,0.1,0.5l-0.8,0.6L90,13.1L89.6,12.8z"></path>
                            <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.5" d="M101,24.1l-0.5,0.3c0.1,0.3,0.1,0.5,0.1,0.6c0,0.1,0,0.2,0,0.2
                            c0,0.1,0,0.2-0.1,0.4c-0.1,0.3-0.1,0.7-0.1,1.3c0,0.1,0.1,0.3,0.2,0.6l-0.1,0.6l0.1,0.7c0,0.6,0.2,1,0.6,1.2
                            c0.1,0.1,0.7,0.3,1.7,0.6c0.4,0.1,0.7,0.2,0.9,0.2c0.6,0,1-0.1,1.1-0.2l0.7-0.7c0-0.1,0.2-0.1,0.4-0.2c0.2,0.2,0.4,0.2,0.5,0.2
                            c0.1,0,0.1,0,0.2,0c0.1-0.2,0.2-0.4,0.3-0.5c0,0,0.2-0.1,0.5-0.3c0,0,0.3-0.4,0.6-0.9c0.3-0.3,0.5-0.4,0.5-0.5
                            c0-0.1,0.1-0.3,0.3-0.7c0.1-0.3,0.2-0.5,0.2-0.7v0c0-0.2,0-0.4,0-0.5v0c0-0.1,0-0.3,0.1-0.6l-0.3-0.2l-0.1-0.2v-2.5
                            c0-0.3-0.1-0.7-0.2-1.4c0,0,0-0.1,0-0.1c0-0.1,0.1-0.3,0.3-0.5c0-0.1-0.1-0.2-0.1-0.2l-0.2-0.1c0,0-0.1-0.2-0.1-0.5
                            c0,0,0-0.1,0-0.2c0-0.2,0.1-0.4,0.1-0.6c0.2,0.1,0.3,0.1,0.4,0.1c0.1,0,0.4-0.1,1-0.4c0.1-0.1,0.4-0.1,0.7-0.2
                            c0.2,0.6,0.3,0.9,0.3,1.1l-0.1,1.9v1.1c-0.1,0.9-0.2,1.4-0.2,1.6l-0.3-0.1c-0.1,0.2-0.2,0.4-0.2,0.5c0,0.1,0,0.2,0,0.3l0.5-0.1
                            c0,0.2,0.1,0.4,0.1,0.5l0,0.4v0.2v0.5v0.3c0,0.4-0.1,0.8-0.2,1.3c0.2,0.2,0.3,0.3,0.3,0.4c0,0.1,0,0.4,0.1,0.8
                            c0,0.3,0.1,0.5,0.2,0.7c0.1,0.1,0.2,0.2,0.5,0.3c-0.1,0.2-0.2,0.3-0.3,0.4c-0.1,0-0.4,0.2-0.9,0.4c-0.5,0.3-0.8,0.5-0.9,0.5
                            c-0.1,0-0.2-0.1-0.3-0.2c-0.1-0.2-0.2-0.4-0.2-0.7c0-0.1,0-0.3,0-0.5c-0.2,0-0.4-0.1-0.6-0.1c-0.1,0-0.2,0-0.2,0.1
                            c0,0-0.2,0.1-0.4,0.4l-0.3,0.2l-0.6,0.3l-0.5,0.2c-0.7,0.4-1.5,0.5-2.3,0.6c-0.4,0.1-0.6,0.2-0.7,0.2c-0.1,0-0.3-0.1-0.7-0.2
                            c0,0-0.1,0-0.1,0c-0.1,0-0.3,0.1-0.6,0.2l-0.5-0.6l0,0c0,0-0.3,0.1-0.7,0.2c-0.1,0-0.2,0-0.2,0c-0.2,0-0.5-0.1-1-0.4
                            c-0.2-0.1-0.4-0.3-0.6-0.6c-0.2-0.4-0.4-0.8-0.4-1.2c0-0.1,0.1-0.3,0.2-0.5l-0.4-0.2v-1.9c0.2-0.2,0.3-0.4,0.3-0.6
                            c0,0-0.1-0.2-0.3-0.6v-1.2l-0.1-0.8c0-0.1,0.1-0.3,0.3-0.5v-0.2l-0.4,0.1c0.1-0.6,0.1-1.1,0.1-1.4c0-0.2,0-0.4,0-0.5l0-0.4
                            c0-0.3,0-0.5-0.1-0.6l-0.2-0.5c0-0.1,0.2-0.2,0.5-0.3c0.2-0.1,0.6-0.2,1.2-0.4l0.2-0.1c0.2-0.1,0.4-0.2,0.4-0.2
                            c0.1,0,0.2,0,0.3,0.1c0,0.1,0.1,0.3,0.3,0.7c0,0,0,0.2-0.1,0.4c-0.1,0.3-0.1,0.7-0.1,1.3c0,0.1,0,0.4,0.1,0.8
                            c-0.2,0.7-0.3,1.1-0.3,1.2C100.6,23.1,100.7,23.6,101,24.1z"></path>
                        </g>
                        <g>
                            <defs>
                                <circle id="SVGID_3_" cx="23.6" cy="25" r="17.4"></circle>
                            </defs>
                            <clipPath id="SVGID_4_">
                                <use xlink:href="#SVGID_3_"  overflow="visible"></use>
                            </clipPath>
                            <g clip-path="url(#SVGID_4_)">
                                <circle fill="#F26722" cx="23.6" cy="25" r="17.4"></circle>
                                <g>
                                    <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1.0416" d="M12.5,11.1l1.7-1.2l0.1,0c0.4-0.3,0.8-0.6,1.1-0.8l0.3,0.1
                                    c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3l0,0.6V11c-0.1,0.6-0.1,0.9-0.1,1.1
                                    c0,0.2,0,0.5,0.1,1l-0.5,0.6l-0.4-0.1l0.1,0.4v0.5l0.1,0.3h0.1l0.3-0.2c0.1,0.2,0.2,0.3,0.2,0.4c0,0,0,0.1,0,0.2
                                    c0,0.1,0,0.2,0,0.2l0,3.3l0,0.7c0,0.8,0,1.2-0.1,1.2l-0.4,0.4c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.2,0.1,0.4,0.4,0.6
                                    c0,0.2,0.1,0.5,0.3,0.8L16,23.1l0,0.5l0,0.8c0,0.6,0.1,1,0.1,1.3l0.2,0.1v0.3l0.1,0.1c0.5-0.2,0.8-0.3,0.8-0.4
                                    c0.6-0.5,1-0.7,1.2-0.8l0.1,0l0.5-0.6l2.4-2.5l0.2-0.5l1.7-2.2c0.2-0.2,0.4-0.4,0.6-0.7c0.2-0.2,0.4-0.5,0.8-1l-0.2-0.3v0
                                    c0.2-0.4,0.6-1,1.3-1.8l0.3-0.1c0-0.2,0.1-0.5,0.3-0.8l0.3-0.6l0.3-0.4l0.4-0.8c0.3-0.3,0.6-0.7,0.8-1.1
                                    c0.2-0.4,0.4-0.7,0.6-0.9c0.3,0,0.5-0.1,0.5-0.1l0.4-0.3c0.3-0.2,0.5-0.4,0.5-0.4c0,0,0.1,0,0.2,0c0.1,0,0.3-0.1,0.4-0.2
                                    c0.2-0.2,0.4-0.3,0.6-0.3l0.1,0.2v0c0,0.1-0.1,0.3-0.3,0.6c-0.2,0.4-0.3,0.7-0.3,0.7l-0.5,0.4c-0.5,0.6-0.8,1-0.8,1.1
                                    c-0.2,0.3-0.3,0.6-0.4,0.7l-1-0.1l0,0.7l0.3,0.1c0,0.3-0.1,0.5-0.2,0.7c-0.1,0.1-0.3,0.3-0.5,0.6c0,0.2-0.1,0.3-0.2,0.3
                                    c-0.1,0.1-0.2,0.3-0.4,0.4l-0.5,0.4c-0.1,0.4-0.2,0.6-0.2,0.6s-0.1,0.1-0.3,0.2c0,0.2,0,0.3-0.1,0.4c0,0.1-0.2,0.3-0.5,0.5
                                    c-0.5,0.5-1.2,1.3-1.8,2.2l-0.9,1c-0.5,0.6-0.8,1-1,1.2L21.8,23c-0.3,0.2-0.4,0.3-0.5,0.3c-0.1,0.1-0.2,0.3-0.5,0.9
                                    c-0.3,0.2-0.5,0.3-0.5,0.4c0,0-0.1,0.2-0.2,0.4l-0.4,0c-0.1,0.1-0.2,0.2-0.2,0.3c-0.2,0.2-0.2,0.3-0.2,0.3c0,0,0,0,0,0l0,0.1
                                    l1.5,1.9c0.3,0.4,0.5,0.7,0.5,1.1c0,0.1,0,0.1,0,0.2c0.2,0,0.4,0,0.5,0c0.1,0,0.3,0.2,0.6,0.5c0.3,0.3,0.4,0.5,0.6,0.7
                                    c0.1,0,0.3,0.1,0.4,0.1c0.4,0.3,0.6,0.6,0.6,0.8c0,0.1,0,0.2-0.1,0.4c0.2,0.2,0.4,0.3,0.7,0.5l0.5,0.3l0.4,0.1
                                    c0,0,0.2,0.1,0.4,0.3h0.3c0.3,0.4,0.8,0.8,1.4,1.2l2.1,1.5l0.5,0.3c0,0.1,0,0.2,0,0.3c0,0.2,0.1,0.3,0.3,0.3
                                    c0.2,0,0.3,0.1,0.4,0.1v0.3c0.1,0,0.2,0.1,0.5,0.1c0.2,0.1,0.5,0.2,0.8,0.2c0.3,0.1,0.5,0.2,0.7,0.4c1.2,0.7,1.8,1.1,1.9,1.1
                                    c0.1,0.1,0.1,0.2,0.2,0.5c0.3,0.1,0.6,0.2,0.8,0.3l0.3-0.3c0.3,0.1,0.6,0.2,1,0.3c0.4,0.1,0.8,0.1,1.1,0.1c0,0,0,0,0.1,0
                                    l1.1-0.2c0,0,0.1,0,0.1,0.1l0,0.1c0.1,0.5-0.4,0.9-1.5,1.1l-0.3,0.3c-0.3,0-0.5,0.1-0.6,0.1c0,0-0.2,0.1-0.5,0.3l-0.4,0
                                    c-0.3,0-0.5-0.1-0.5-0.1s-0.1-0.1-0.3-0.2l-0.6,0.1c-0.3-0.3-0.5-0.4-0.7-0.5c-0.1-0.1-0.4-0.2-0.9-0.5
                                    c-0.3-0.2-0.5-0.3-0.7-0.3c-0.1,0-0.4-0.1-0.7-0.3c-0.4-0.2-0.6-0.3-0.6-0.3C31,39.1,30.9,39,30.8,39l-0.4-0.4l-0.3-0.1
                                    c-0.2-0.2-0.4-0.4-0.7-0.5c0-0.2,0-0.3,0-0.4c0-0.1,0-0.1-0.1-0.2c-0.1-0.2-0.3-0.2-0.6-0.2c-0.1,0-0.3,0.1-0.7,0.2c0,0,0,0,0,0
                                    c-0.2,0-0.4-0.1-0.6-0.4c0-0.1-0.1-0.3-0.2-0.6c0-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.1-0.2-0.1L26.6,36c0,0,0,0-0.1,0
                                    c-0.2,0-0.6-0.2-1.1-0.7c-0.2-0.1-0.7-0.5-1.4-1.1l-0.7-0.8c-0.2-0.2-0.3-0.3-0.3-0.3c-0.1-0.1-0.3-0.2-0.5-0.3
                                    c-0.4-0.3-0.9-0.6-1.5-1c0.1-0.3,0.1-0.5,0.2-0.7c-0.4-0.2-0.7-0.3-0.8-0.3c-0.1,0-0.1,0-0.2,0c-0.2-0.2-0.4-0.3-0.7-0.6
                                    l-0.7-0.8c-0.2-0.2-0.4-0.4-0.4-0.4c-0.1-0.1-0.1-0.3-0.2-0.5c-0.2,0-0.4,0-0.5-0.1c-0.1-0.1-0.4-0.3-0.8-0.7
                                    c-0.2-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.2-0.2,0.4c0,0,0,0.1,0,0.1l0.4,0c0,0.1,0,0.2,0,0.3
                                    c0,0.1,0,0.3-0.1,0.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.4,0.1,1.1V31l0,0.5c0,0.1,0,0.2-0.1,0.2C16,31.9,16,32,15.9,32
                                    c0,0.1-0.1,0.3-0.1,0.5c0.2,0,0.4,0.1,0.5,0.2c-0.1,0.4-0.2,1.2-0.2,2.4c0,0.2-0.1,0.3-0.2,0.3c-0.1,0-0.2-0.1-0.4-0.2h-0.1
                                    c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.4,0.3,0.6,0.8,0.6c0,0.1,0.1,0.4,0.1,0.8l0,0.3c0,0.1-0.1,0.3-0.2,0.5l-0.3,0.2l0.1,0.4
                                    c0.2-0.2,0.3-0.2,0.4-0.2c0.1,0,0.2,0.3,0.2,0.8c0,0.1,0,0.2,0.1,0.4c0,0.2,0.1,0.3,0.1,0.4c0,0,0,0.1,0,0.1
                                    c-0.3,0.2-0.5,0.4-0.6,0.6c-0.4,0-0.6,0.1-0.9,0.3l0.1,0.2c-0.4,0.1-0.7,0.3-0.9,0.4c-0.3,0.3-0.6,0.4-0.7,0.4
                                    c-0.1,0-0.3,0-0.4-0.1c0.1-0.3,0.1-0.5,0.1-0.6v0c0-0.1,0-0.1,0-0.2l0-0.1l1.7-1l-1.6-0.9l0.1-0.1c0.2-0.2,0.3-0.3,0.3-0.5
                                    l0-0.7l1.4-0.7L13.8,36l0-0.6l0-1.6l0-0.4c-0.1-0.3-0.2-0.5-0.2-0.5c0-0.1,0-0.2,0-0.3c0.2-0.6,0.2-0.9,0.2-1l0.1-2.5l0.9-1
                                    c-0.4-0.2-0.8-0.5-1-0.7l0.1-0.1h0.1l0.1,0.1h0.1v-0.1c0.2-0.2,0.3-0.4,0.3-0.6l-0.5,0.1c-0.1-0.8-0.2-1.5-0.2-2l0.1-0.9v0
                                    l0-0.6l0-0.3c0-0.5,0-0.8,0.1-0.9c0.1-0.1,0.1-0.3,0.1-0.4l-0.5-0.2c0.1-0.2,0.1-0.5,0.1-0.9l0-0.5l0-0.5c0-0.6,0-1,0-1.2
                                    c0-0.2-0.1-0.4-0.3-0.6c0.1-0.2,0.1-0.3,0.1-0.4c0-0.1,0.1-0.2,0.2-0.3c-0.1-0.1-0.1-0.3-0.1-0.5c0.1-0.1,0.2-0.2,0.4-0.2V16
                                    c-0.2,0.1-0.3,0.2-0.4,0.2c0-0.2-0.1-0.5-0.1-1.1c0-0.7-0.1-1.3-0.2-1.7c0.1-0.1,0.2-0.3,0.3-0.4c-0.3-0.3-0.4-0.5-0.4-0.8
                                    c0-0.1,0-0.4,0.1-0.6C12.9,11.5,12.6,11.4,12.5,11.1L12.5,11.1z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </header>
        <div data-role="content" class="km-content km-stretched-view">
            <ul data-role="listview" data-click="app.mobile.onDrawerListViewClick">
                <li data-icon="home"><a href="#phone-categories">Explore</a></li>
                <li data-icon="scan" data-bind="visible: hasBarCodeScanner$"><a href="#">Scan</a></li>
                <!--li data-icon="favourites"><a href="#phone-favourites">Favourites</a></li-->
                <!--li data-icon="downloads"><a href="#phone-downloads">Downloads</a></li-->
                <li data-icon="activities"><a href="#phone-activities">Activities</a></li>
                <!-- li data-icon="challenges"><a href="#phone-challenges">Challenges</a></li-->
                <li data-icon="settings"><a href="#phone-settings">Settings</a></li>
            </ul>
        </div>
    </div>

    <!-- Activities view -->
    <div id="phone-activities" data-role="view" data-layout="phone-main-layout" data-title="Activities" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onActivitiesViewShow">
        <ul data-role="listview" data-bind="source: scores" data-template="phone-activities-template">
        </ul>
        <script type="text/x-kendo-template" id="phone-activities-template">
            <a href="\#phone-player">#: title # - #: score #</a>
        </script>
    </div>

    <!-- Categories view -->
    <div id="phone-categories" data-role="view" data-layout="phone-main-layout" data-title="Explore" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onCategoriesViewShow">
        <!-- Display search button -->
        <ul data-role="listview" data-bind="source: categories" data-template="phone-categories-template">
        </ul>
        <script type="text/x-kendo-template" id="phone-categories-template">
            <a href="\#phone-finder?filter%5Bfield%5D=categories&filter%5Boperator%5D=eq&filter%5Bvalue%5D=#: id #" style="margin-left: #: depth - 1 #em;">
                <img src="#: icon$() #" alt="#: name #" class="km-thumbnail">
                <span>#: name #</span>
            </a>
        </script>
    </div>

    <!-- Favourites view -->
    <div id="phone-favourites" data-role="view" data-layout="phone-main-layout" data-title="Favourites" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onFavouritesViewShow">
        <ul data-role="listview" data-bind="source: favourites" data-template="phone-favourites-template">
        </ul>
        <script type="text/x-kendo-template" id="phone-favourites-template">
            <a href="\#phone-player">#: title #</a>
        </script>
    </div>

    <!-- Finder view -->
    <div id="phone-finder" data-role="view" data-layout="phone-main-layout" data-title="Explore" data-transition="overlay" data-model="app.mobile.viewModel" data-before-show="app.mobile.onFinderBeforeViewShow" data-show="app.mobile.onFinderViewShow">
        <ul data-role="listview" data-bind="source: summaries" data-load-more="true" data-filterable="{&quot;field&quot;:&quot;$text&quot;,&quot;operator&quot;:&quot;eq&quot;}" data-template="phone-finder-template"></ul>
        <ul id="phone-finder-actionsheet" data-role="actionsheet">
            <li><a data-action="app.mobile.onFinderActionPlay" class="km-actionsheet-play">Play</a></li>
            <li data-bind="visible: hasSocialSharing$"><a data-action="app.mobile.onFinderActionShare" class="km-actionsheet-share">Share</a></li>
        </ul>
        <script type="text/x-kendo-template" id="phone-finder-template">
            <img src="#: icon$() #" alt="#: title #" class="km-thumbnail">
            <div class="summary">
                <h4>#: title #</h4>
                # var tags = tags$(); if (Array.isArray(tags) && tags.length) { #
                <div class="tags"><i class="kf kf-tags"></i>
                    # for (var i = 0; i < tags.length; i++) { #
                    <span>#: tags[i].name #</span># if (i < tags.length -1) { #, # } #
                    # } #
                </div>
                # } #
                <!--div class="author">
                    <%- __('finder.list.author.publishedOn') %><span>#: kendo.toString(published, "<%- __('dateFormat') %>") #</span><%- __('finder.list.author.by') %><a href="#= authorUri$() #">#: authorName$() #</a>
                </div-->
                <div class="metrics">
                    <span class="kf"><input data-role="rating" value="#: ratings #" readonly></span>
                    <i class="kf kf-view"></i><span>#: views #</span>
                    # if (scores) { #<i class="kf kf-score"></i><span>#: kendo.toString(scores, 'n0') #%</span># } #
                </div>
                <a class="km-primary km-button-right km-widget km-button" data-role="button" data-rel="actionsheet" data-actionsheet-context="#: id #" href="\#phone-finder-actionsheet">
                    <span class="km-text">Go</span>
                </a>
            </div>
        </script>
    </div>

    <!-- Player view -->
    <div id="phone-player" data-role="view" data-layout="phone-main-layout" data-title="Page 1 of 1" data-transition="overlay" data-stretch="true" data-model="app.mobile.viewModel" data-init="app.mobile.onPlayerViewInit" data-show="app.mobile.onPlayerViewShow">
        <div class="stretched-item">
            <div data-role="stage" data-bind="source: selectedPage.components, properties: current.test" data-mode="play" data-messages="{ noPage: 'Loading...' }"></div>
        </div>
        <div class="stretched-item padding">
            <div class="heading">
                <h2>
                    <img src="./img/teacher.svg" alt="Instructions/Explanations">
                    <span class="instructions">Instructions</span>
                    <span class="explanations" style="display: none;">Explanations</span>
                </h2><hr/>
            </div>
            <div data-role="scroller" data-use-native="true">
                <div class="markdown" data-role="markdown" data-bind="value: selectedPage.instructions"></div>
            </div>
        </div>
    </div>

    <!-- Progress (sync) view -->
    <div id="phone-progress" data-role="view" data-layout="phone-main-layout" data-title="Sync" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onProgressViewShow">
        <div></div>
    </div>

    <!-- Score view -->
    <div id="phone-score" data-role="view" data-layout="phone-main-layout" data-title="Score" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onScoreViewShow">
        <div data-role="grid"></div>
    </div>

    <!-- Settings view -->
    <div id="phone-settings" data-role="view" data-layout="phone-main-layout" data-title="Settings" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onSettingsViewShow">
        <!-- see http://docs.telerik.com/kendo-ui/controls/hybrid/styles/forms -->
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>
                        <span>User</span>
                        <input type="text" data-bind="value: user.fullName$" disabled="disabled" />
                        <!-- TODO Show login button -->
                    </label>
                </li>
                <li>
                    <label>
                        <span>Version</span>
                        <input type="text" data-bind="value: settings.version" disabled="disabled" />
                        <!-- TODO Show upgrade sign if it does not match server -->
                    </label>
                </li>
                <li>
                    <label>
                        <span>Language</span>
                        <input data-role="dropdownlist" data-bind="value: settings.language, source: languages" data-value-field="value" data-text-field="text"  />
                    </label>
                </li>
                <li>
                    <label>
                        <span>Theme</span>
                        <input data-role="dropdownlist" data-bind="value: settings.theme, source: themes" data-value-field="name" data-text-field="text" />
                    </label>
                </li>
            </ul>
        </form>
        <div class="buttons">
            <a data-role="button" class="km-large km-justified km-primary" data-click="app.mobile.onSettingsSwitchClick">Switch User</a>
        </div>
    </div>

    <!-- Sign-in view -->
    <div id="phone-signin" data-role="view" data-layout="phone-main-layout" data-title="Sign in" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onSigninViewShow">
        <div class="k-widget k-notification k-notification-info" data-role="alert">
            <div class="k-notification-wrap">
                <span class="k-icon k-i-info">Info</span>
                <span class="k-text">Please select an authentication provider.</span>
                <!--span class="k-icon k-i-close">Hide</span-->
            </div>
        </div>
        <form>
            <ul data-role="listview" data-style="inset">
                <li><button data-role="button" class="km-large km-justified" data-icon="google" data-provider="google" data-click="app.mobile.onSigninButtonClick">Google</button></li>
                <li><button data-role="button" class="km-large km-justified" data-icon="facebook" data-provider="facebook" data-click="app.mobile.onSigninButtonClick">Facebook</button></li>
                <li><button data-role="button" class="km-large km-justified" data-icon="twitter" data-provider="twitter" data-click="app.mobile.onSigninButtonClick">Twitter</button></li>
                <li><button data-role="button" class="km-large km-justified" data-icon="live" data-provider="live" data-click="app.mobile.onSigninButtonClick">Windows Live</button></li>
            </ul>
        </form>
        <div class="buttons">
            <a data-role="button" class="km-large km-justified km-primary" style="background-color:#cc0000;color:#ffffff" data-click="app.mobile.onSignInResetClick">Reset</a>
        </div>
    </div>

    <!-- Summary view -->
    <div id="phone-summary" data-role="view" data-layout="phone-main-layout" data-title="Details" data-transition="overlay" data-model="app.mobile.viewModel" data-show="app.mobile.onSummaryViewShow">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>
                        <span>Type text</span>
                        <input type="text" value="Text" />
                    </label>
                </li>
            </ul>
        </form>
    </div>

    <!-- User view -->
    <div id="phone-user" data-role="view" data-layout="phone-main-layout" data-title="User" data-transition="overlay" data-model="app.mobile.viewModel" data-init="app.mobile.onUserViewInit" data-show="app.mobile.onUserViewShow">
        <img data-bind="invisible: isSavedUser$, attr: { src: user.picture$(), alt: user.fullName$() }" class="km-thumbnail picture">
        <img data-bind="visible: isSavedUser$, attr: { src: user.mobilePicture$, alt: user.fullName$ }" class="km-thumbnail picture">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>
                        <span>First Name</span>
                        <input type="text" data-bind="value: user.firstName" disabled="disabled" />
                    </label>
                </li>
                <li>
                    <label>
                        <span>Last Name</span>
                        <input type="text" data-bind="value: user.lastName"  disabled="disabled" />
                    </label>
                </li>
                <li data-bind="visible: isSavedUser$">
                    <label>
                        <span>Last Use</span>
                        <input type="datetime-local" data-bind="value: user.lastUse" disabled="disabled" />
                    </label>
                </li>
                <li>
                    <label>
                        <span>PIN</span>
                        <input type="password" class="pin" autocomplete="off" />
                    </label>
                </li>
                <li data-bind="invisible: isSavedUser$">
                    <label>
                        <span>Confirm</span>
                        <input type="password" class="pin" autocomplete="off" />
                    </label>
                </li>
            </ul>
        </form>
        <div class="buttons">
            <a data-role="button" data-bind="invisible: isSavedUser$" class="km-large km-justified km-primary" data-click="app.mobile.onUserSaveClick">Save</a>
            <a data-role="button" data-bind="visible: isSavedUser$" class="km-large km-justified km-primary" data-click="app.mobile.onUserSignInClick">Signin</a>
            <a data-role="button" data-bind="visible: isSavedUser$" class="km-large km-justified"  data-click="app.mobile.onUserNewClick">New User</a>
        </div>
    </div>

</div>

</body>
</html>
