<!-- Correction view (Review mode) -->
<div id="correction" data-role="view" data-layout="main-layout" data-title="Page 1 of 1" data-transition="fade" data-stretch="true" data-model="app.viewModel" data-hide="app.viewModel.onCorrectionViewHide" data-init="app.viewModel.onCorrectionViewInit" data-show="app.viewModel.onCorrectionViewShow">
    <div class="app-stage-container">
        <div data-role="stage" data-bind="source: page.components, properties: current.test" data-mode="review" data-messages="{ noPage: 'Loading...' }"></div>
    </div>
    <div class="km-content km-alt app-info-container">
        <div class="app-heading">
            <img class="app-icon" src="./img/icons/teacher.svg" alt="Explanations">
            <span class="app-title">Explanations</span>
            <a data-role="button" class="app-tts" data-icon="ear" data-tts="page.explanations" data-click-on="down" data-click="app.viewModel.onTTSClick"></a>
            <hr/>
        </div>
        <div data-role="touch" data-enable-swipe="true" data-swipe="app.viewModel.onPageSwipe">
            <div data-role="scroller" data-use-native="true">
                <div class="app-markdown" data-role="markdown" data-bind="value: page.explanations"></div>
            </div>
        </div>
    </div>
</div>
