
<!-- Finder view -->
<div id="finder" data-role="view" data-layout="main-layout" data-title="Explore" data-transition="fade" data-model="app.viewModel" data-before-show="app.viewModel.onFinderBeforeViewShow" data-show="app.viewModel.onFinderViewShow">
    <!-- TODO Temporarily not filterable -->
    <!--ul data-role="listview" data-bind="source: summaries" data-filterable="{&quot;field&quot;:&quot;$text&quot;,&quot;operator&quot;:&quot;eq&quot;}" data-load-more="true" data-template="finder-template"></ul-->
    <ul data-role="listview" data-bind="source: summaries" data-filterable="false" data-load-more="true" data-template="finder-template"></ul>
    <script type="text/x-kendo-template" id="finder-template">
        <a href="\#summary?language=#: language #&summaryId=#: id #" data-bind="css: { offline: offline, error: isError$, success: isSuccess$, warning: isWarning$ }">
            <img src="#: icon$() #" alt="#: title #" class="km-thumbnail">
            <div class="summary">
                <h4>#: title #</h4>
                <!-- Do not use tags as a variable name otherwise the model tags will be changed -->
                # var t$ = tags$(); if (Array.isArray(t$) && t$.length) { #
                <div class="tags"><i class="kf kf-tags"></i>
                    # for (var i = 0; i < t$.length; i++) { #
                    <span>#: t$[i].name #</span>#: i < t$.length - 1 ? ', ' : '' #
                    # } #
                </div>
                # } #
                <div class="metrics">
                    <span class="kf"><input data-role="rating" value="#: ratings #" readonly></span>
                    <i class="kf kf-view"></i><span>#: views #</span>
                    # if (scores) { #<i class="kf kf-score"></i><span>#: kendo.toString(scores, 'n0') #%</span># } #
                </div>
            </div>
            # if (hasUserScore$()) { #
            <span class="km-badge km-badge-info" data-bind="text: userScore$"></span>
            # } #
        </a>
    </script>
</div>
