<!-- layout -->
<div data-role="layout" data-id="main-layout" data-show="app.viewModel.onLayoutViewShow">
    <header data-role="header">
        <div data-role="navbar" class="km-accent">
            <!--a id="main-layout-back" data-role="backbutton" data-click-on="down" class="nav-button" data-align="left">Back</a-->
            <a id="main-layout-drawer" data-role="button" data-click-on="down" class="nav-button" data-align="left" data-icon="drawer-icon" href="#drawer" data-rel="drawer"></a>
            <a id="main-layout-user" data-role="button" data-click-on="down" class="nav-button" data-align="left" data-icon="user" href="#user"></a>
            <!--a id="main-layout-first-page" data-role="button" data-click-on="down" class="nav-button" data-align="left" data-icon="first" data-click="app.viewModel.onNavBarFirstPageClick"></a-->
            <a id="main-layout-previous-page" data-role="button" data-click-on="down" class="nav-button" data-align="left" data-icon="previous" data-click="app.viewModel.onNavBarPreviousPageClick"></a>
            <a id="main-layout-previous-user" data-role="button" data-click-on="down" class="nav-button" data-align="left" data-icon="previous" data-click="app.viewModel.onNavBarPreviousUserClick"></a>
            <span data-role="view-title"></span>
            <a id="main-layout-home" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="home" href="#categories"></a>
            <a id="main-layout-next-user" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="next" data-click="app.viewModel.onNavBarNextUserClick"></a>
            <a id="main-layout-next-page" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="next" data-click="app.viewModel.onNavBarNextPageClick"></a>
            <a id="main-layout-last-page" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="last" data-click="app.viewModel.onNavBarLastPageClick"></a>
            <a id="main-layout-submit" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="submit" data-click="app.viewModel.onNavBarSubmitClick"></a>
            <a id="main-layout-score" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="score" data-click="app.viewModel.onNavBarScoreClick"></a>
            <a id="main-layout-summary" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="summary" data-click="app.viewModel.onNavBarSummaryClick"></a>
            <a id="main-layout-sync" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="sync" data-click="app.viewModel.onNavBarSyncClick"></a>
            <a id="main-layout-search" data-role="button" data-click-on="down" class="nav-button" data-align="right" data-icon="search" data-click="app.viewModel.onNavBarSearchClick"></a>
        </div>
    </header>
</div>
