<!-- Rating modal view -->
<!--div id="rating" data-role="modalview" data-model="app.viewModel" data-show="app.viewModel.onRatingViewShow" style="width: 200px; height: 300px;">
    <h2 class="km-content summary">
        <img class="icon" data-bind="{ attr: { src: summary.icon$, alt: summary.title } }">
        <div class="title" data-bind="text:summary.title"></div>
    </h2>
    <div>
        <span class="kf"><input data-role="rating"></span>
        <a data-role="button" data-click="app.viewModel.onRatingViewClose">Close</a>
    </div>
</div-->
