<!-- Sign-in view -->
<div id="signin" data-role="view" data-layout="main-layout" data-title="Sign in" data-transition="fade" data-stretch="true" data-model="app.viewModel" data-init="app.viewModel.onSigninViewInit" data-show="app.viewModel.onSigninViewShow">
    <div data-role="scrollview" class="km-scrollview-overlay" data-content-height="100%">
        <div data-role="page">
            <div class="image"><img src="./img/tour/t1.svg"></div>
            <div class="text"><p>Browse and search assessments, practice tests and quizzes organized by subject categories.</p></div>
        </div>
        <div data-role="page">
            <div class="image"><img src="./img/tour/t2.svg"></div>
            <div class="text"><p>Play questions, give answers and let the app compute your score.</p></div>
        </div>
        <div data-role="page">
            <div class="image"><img src="./img/tour/t3.svg"></div>
            <div class="text"><p>Track and measure your progresses.</p></div>
        </div>
        <div data-role="page">
            <div class="k-widget k-notification k-notification-info">
                <div class="k-notification-wrap">
                    <span class="k-icon k-i-info">Info</span>
                    <span class="k-text">Please select an authentication provider.</span>
                    <!--span class="k-icon k-i-close">Hide</span-->
                </div>
            </div>
            <form>
                <ul data-role="listview" data-style="inset" data-filterable="false">
                    <li><button data-role="button" class="km-large km-justified" data-icon="google" data-provider="google" data-click="app.viewModel.onSigninButtonClick">Google</button></li>
                    <li><button data-role="button" class="km-large km-justified" data-icon="facebook" data-provider="facebook" data-click="app.viewModel.onSigninButtonClick">Facebook</button></li>
                    <li><button data-role="button" class="km-large km-justified" data-icon="twitter" data-provider="twitter" data-click="app.viewModel.onSigninButtonClick">Twitter</button></li>
                    <li><button data-role="button" class="km-large km-justified" data-icon="live" data-provider="live" data-click="app.viewModel.onSigninButtonClick">Windows Live</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>
