<!-- Summary view -->
<div id="summary" data-role="view" data-layout="main-layout" data-title="Details" data-transition="fade" data-model="app.viewModel" data-show="app.controller.onSummaryViewShow">
    <img data-bind="attr: { src: summary.icon$, alt: summary.title }" class="km-thumbnail picture">
    <form>
        <ul data-role="listview" data-style="inset" data-filterable="false">
            <li>
                <label>
                    <span class="km-bold-font">Title</span>
                    <div data-bind="text: summary.title" class="bottom"></div>
                </label>
            </li>
            <li>
                <label>
                    <span class="km-bold-font">Rating</span>
                    <div class="bottom">
                        <span class="kf"><input data-role="rating" data-bind="value: summary.metrics.ratings.average" readonly></span>
                        <i class="kf kf-view"></i><span data-bind="text: summary.metrics.views.count"></span>
                        <i class="kf kf-score"></i><span data-bind="text: summary.metrics.scores.average, visible: summary.metrics.scores.average" data-format="n0"></span>%
                        <span data-bind="text: summary.userScore$, css: { km-badge-error: isError$, km-badge-success: summary.isSuccess$, km-badge-warning: summary.isWarning$ }, visible: summary.hasUserScore$"></span>
                    </div>
                </label>
            </li>
            <li>
                <label>
                    <span class="km-bold-font">Category</span>
                    <div data-bind="html: summaryCategory$" class="bottom"></div>
                </label>
            </li>
            <li>
                <label>
                    <span class="km-bold-font">Tags</span>
                    <div data-bind="text: summary.tags$" class="bottom"></div>
                </label>
            </li>
            <li>
                <label>
                    <span class="km-bold-font">Description</span>
                    <div data-role="markdown" data-bind="value: summary.description" class="bottom"></div>
                </label>
            </li>
            <li data-bind="invisible: hasConstantAuthorId$">
                <label>
                    <span class="km-bold-font">Author</span>
                    <div data-bind="text: summary.author.fullName$" class="bottom"></div>
                </label>
            </li>
            <li>
                <label>
                    <span class="km-bold-font">Published</span>
                    <div data-bind="text: summary.published" data-format="dd MMM yyyy" class="bottom"></div>
                </label>
            </li>
        </ul>
    </form>
    <div class="buttons">
        <a data-role="button" class="km-large km-justified km-primary" data-rel="actionsheet" href="#summary-actionsheet">GO</a>
    </div>
    <ul id="summary-actionsheet" data-role="actionsheet" >
        <li class="km-actionsheet-play"><a data-action="app.controller.onSummaryActionPlay">Play</a></li>
        <li class="km-actionsheet-share" data-bind="visible: hasSocialSharing$"><a data-action="app.controller.onSummaryActionShare">Share</a></li>
        <li class="km-actionsheet-feedback" data-bind="visible: hasInternetBrowsing$"><a data-action="app.controller.onSummaryActionFeedback">Feedback</a></li>
    </ul>
</div>
