<!-- Sync view -->
<div id="sync" data-role="view" data-layout="main-layout" data-title="Synchronization" data-transition="fade" data-model="app.viewModel" data-hide="app.controller.onSyncViewHide" data-show="app.controller.onSyncViewShow">
    <img src="./img/icons/gearwheels.svg" alt="Progress" class="km-thumbnail picture">
    <h2 class="title">Progress</h2>
    <p class="message">Progress</p>
    <div class="progress">
        <div id="sync-pass" data-role="progressbar" data-min="0" data-max="2"></div>
        <div id="sync-percent" data-role="progressbar" data-type="percent"></div>
    </div>
    <div class="buttons"><a data-role="button" class="km-primary" href="#">Continue</a></div>
</div>
