<!-- User view -->
<div id="user" data-role="view" data-layout="main-layout" data-title="User" data-transition="fade" data-model="app.viewModel" data-init="app.controller.onUserViewInit" data-show="app.controller.onUserViewShow">
    <div data-role="touch" data-enable-swipe="true" data-swipe="app.controller.onUserSwipe">
        <img data-bind="invisible: isSavedUser$, attr: { src: user.picture$, alt: user.fullName$ }" class="km-thumbnail picture">
        <img data-bind="visible: isSavedUser$, attr: { src: user.mobilePicture$, alt: user.fullName$ }" class="km-thumbnail picture">
        <form>
            <ul data-role="listview" data-style="inset" data-filterable="false">
                <li>
                    <label>
                        <span class="km-bold-font">First Name</span>
                        <div data-bind="text: user.firstName" class="right"></div>
                    </label>
                </li>
                <li>
                    <label>
                        <span class="km-bold-font">Last Name</span>
                        <div data-bind="text: user.lastName" class="right"></div>
                    </label>
                </li>
                <li data-bind="visible: isSavedUser$">
                    <label>
                        <span class="km-bold-font">Last Use</span>
                        <div data-bind="text: user.lastUse" data-format="g" class="right"></div>
                    </label>
                </li>
                <li data-bind="invisible: isNewUser$">
                    <label>
                        <span class="km-bold-font">PIN</span>
                        <!-- keep username to let browsers save your password -->
                        <input type="text" name="username" data-bind="value: user.sid" style="display: none;">
                        <input type="password" class="pin" autocomplete="off">
                    </label>
                </li>
                <li data-bind="invisible: isSavedUser$">
                    <label>
                        <span class="km-bold-font">New PIN</span>
                        <input type="password" class="pin" autocomplete="off">
                    </label>
                </li>
                <li data-bind="invisible: isSavedUser$">
                    <label>
                        <span class="km-bold-font">Confirm</span>
                        <input type="password" class="pin" autocomplete="off">
                    </label>
                </li>
            </ul>
        </form>
    </div>
    <div class="buttons">
        <a data-role="button" data-bind="invisible: isSavedUser$" class="km-large km-justified km-primary" data-click="app.controller.onUserSaveClick">Save</a>
        <a data-role="button" data-bind="visible: isSavedUser$" class="km-large km-justified km-primary" data-click="app.controller.onUserSignInClick">Signin</a>
        <a data-role="button" data-bind="visible: isSavedUser$" class="km-large km-justified"  data-click="app.controller.onUserNewClick">New User</a>
        <a data-role="button" data-bind="visible: isSavedUser$" class="km-large km-justified" data-click="app.controller.onUserChangePin">Change PIN</a>
    </div>
</div>
