html, body, #phone {
    height: 100%;
    margin: 0;
    /**********************************************************
    * Kendo UI
    **********************************************************/
    .km-view {
        .k-notification {
            // This is for static notifications in a .km-view
            margin: 1em;
            display: block;
            opacity: 1;
        }
        form {
            .km-list {
                li {
                    min-height: 3.8em;
                    .form-value {
                        // This is to display readonly values in forms instead of disabled="disabled" on input fields
                        margin-left: 50%;
                        margin-top: -1.75em;
                        width: 45%;
                        min-width: 6em;
                        padding: .4em;
                        font-size: 1em;
                    }
                }
            }
        }
        .buttons {
            margin: 1em;
            .km-button {
                width: 100%;
            }
            .km-button:not(:last-child) {
                margin-bottom: 1em;
            }
        }
    }
    .k-notification-wrap {
        // This wraps all notifications when text is too wide
        width: 100%;
        white-space: normal;
        .k-icon {
            float:left;
        }
        .k-text {
            display:block;
            margin-left: 1.5em;
            margin-right: 1em;
        }
    }
    /**********************************************************
    * Drawer
    **********************************************************/
    #phone-drawer {
        .km-view-title {
            text-align: left;
            margin-left: 0.5em;
        }
        .km-scroll-container {
            // Make sure drawer items are aligned to the top especially with nova theme */
            display: initial;
            // Make list items larger for all themes
            .km-listview > li {
                padding: .84em .7em;
            }
        }
    }
    /**********************************************************
    * Activities view
    **********************************************************/
    // #phone-activities {}
    /**********************************************************
    * Categories view
    **********************************************************/
    #phone-categories {
        .km-listview > li {
            padding: .5em .84em;
            .km-thumbnail {
                border: none;
                border-radius: 0;
                height: 1.8rem;
                width: 1.8rem;
                vertical-align: middle;
            }
        }
    }
    /**********************************************************
    * Correction/Player view
    **********************************************************/
    #phone-correction, #phone-player {
        .km-stretched-view {
            // http://docs.telerik.com/kendo-ui/controls/hybrid/how-to/relative-content-size-using-flexboxes
            display: flex;
            flex-wrap: wrap;
            .padding {
                padding: 1em;
                .heading {
                    h2 {
                        margin: 0;
                        font-size: 1rem;
                        img {
                            height: 1.5em;
                            width: 1.5em;
                            margin-right: 0.5em;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    /**********************************************************
    * Favourites view
    **********************************************************/
    // #phone-favourites {}
    /**********************************************************
    * Finder view (search results)
    **********************************************************/
    #phone-finder {
        .km-listview {
            li {
                .km-listview-link {
                    height: 10em; // a fixed height is required for endless scrolling
                    line-height: 1.25;
                    .km-thumbnail {
                        border: none;
                        border-radius: 0;
                        height: 3.35rem;
                        width: 3.35rem;
                        margin-right: 0;
                        float: left;
                    }
                    .summary {
                        margin-left: 4rem;
                        h4 {
                            margin: 0;
                        }
                        .tags, .metrics {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
    /**********************************************************
     * Score view
     **********************************************************/
    #phone-score {
        .icon {
            height: 28px;
            width: 28px;
        }
    }
    /**********************************************************
     * Settings view
     **********************************************************/
    // #phone-settings {}
    /**********************************************************
    * Sign-in view
    **********************************************************/
    #phone-signin {
        ul.km-list {
            >li {
                >span.km-icon {
                    display: none; // Fix for a useless span that breaks our layout
                }
                .km-button {
                    width: 100%;
                    color: #ffffff;
                    .km-icon {
                        margin-left: -0.7em;
                        margin-right: 0.7em;
                    }
                }
                .km-button[data-provider="google"] {
                    background-color: #d9534f;
                    border-color: #d43f3a;
                }
                .km-button[data-provider="google"].km-state-active {
                    background-color: #c9302c;
                    border-color: #ac2925;
                }
                .km-button[data-provider="facebook"] {
                    background-color: #337ab7;
                    border-color: #2e6da4;
                }
                .km-button[data-provider="facebook"].km-state-active {
                    background-color: #204d74;
                    border-color: #122b40;
                }
                .km-button[data-provider="twitter"] {
                    background-color: #5bc0de;
                    border-color: #46b8da;
                }
                .km-button[data-provider="twitter"].km-state-active {
                    background-color: #31b0d5;
                    border-color: #269abc;
                }
                .km-button[data-provider="live"] {
                    background-color: #5cb85c;
                    border-color: #4cae4c;
                }
                .km-button[data-provider="live"].km-state-active {
                    background-color: #449d44;
                    border-color: #398439;
                }
                .km-button[data-provider="dummy"] {
                    color: initial;
                }
            }
        }
    }
    /**********************************************************
    * Summary view
    **********************************************************/
    #phone-summary {
        .picture {
            width: 10em;
            height: 10em;
            margin: 1em auto;
            display: block;
            float: none;
        }
    }
    /**********************************************************
     * Sync view
     **********************************************************/
    // #phone-sync {}
    /**********************************************************
     * User view
     **********************************************************/
    #phone-user {
        .picture {
            width: 10em;
            height: 10em;
            margin: 1em auto;
            display: block;
            float: none;
        }
    }
}

