/**********************************************************************
 * app.template.less is for all common kendo UI styles (not app specific)
 **********************************************************************/

//---------------------------------------------
// Navbar
.km-navbar {
    height: 3rem; // We need this because we want the navbar in the drawer to be the same size as the navbar in the main layout
    // Navbar buttons
    /*
    .km-button {
        padding: .3em .5em !important;
        .km-notext {
            margin: 0 .1em 0 0 !important;
        }
    }
    */
}
//---------------------------------------------
// ListView filters and search boxes
.km-filter-form {
    width: auto; // We need this otherwise padding adds to the 100% width
}
//---------------------------------------------
// Badges
.km-badge-error {
    background-color: @notification-error-background-color !important;
    color: @notification-error-text-color !important;
}
.km-badge-info {
    background-color: @notification-info-background-color !important;
    color: @notification-info-text-color !important;
}
.km-badge-success {
    background-color: @notification-success-background-color !important;
    color: @notification-success-text-color !important;
}
.km-badge-warning {
    background-color: @notification-warning-background-color !important;
    color: @notification-warning-text-color !important;
}
//---------------------------------------------
// Primary button
.km-button.km-primary {
    // This is for primary buttons which are missing
    background-color: @selected-background !important;
    border-color: @selected-border-color !important;
    color: @selected-text-color !important;
}


/*********************************************************************************************
* InAppBrowser (TODO)
**********************************************************************************************/

/*
.inAppBrowserWrap {
    background-color: rgba(0,0,0,0.75);
    color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
.inAppBrowserWrap menu li {
    font-size: 25px;
    height: 25px;
    float: left;
    margin: 0 10px;
    padding: 3px 10px;
    text-decoration: none;
    color: #ccc;
    display: block;
    background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}
*/

