/*********************************************************************************************
* Common theming styles
**********************************************************************************************/
.km-navbar {
    height: 3rem; // We need this because we want the navbar in the drawer to be the same size as the navbar in the main layout
    padding-top: 0 !important; // We need this because we do not display the iOS 7 status bar (with carrier signal and battery level)
    // Navbar buttons
    .km-button {
        padding: .2em .5em !important;
        .km-notext {
            margin: 0 .5em 0 0 !important;
        }
    }
}

/*********************************************************************************************
* Android fixes
**********************************************************************************************/

.km-android {
    // Switches header and footer in android to make it look like iOS
    // http://docs.telerik.com/kendo-ui/controls/hybrid/application#place-the-tabstrip-at-the-bottom-in-android
    .km-view:not(.km-splitview) {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/*********************************************************************************************
* InAppBrowser (TODO)
**********************************************************************************************/

/*
.inAppBrowserWrap {
    background-color: rgba(0,0,0,0.75);
    color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
.inAppBrowserWrap menu li {
    font-size: 25px;
    height: 25px;
    float: left;
    margin: 0 10px;
    padding: 3px 10px;
    text-decoration: none;
    color: #ccc;
    display: block;
    background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}
*/

