@import "./vendor/kendo/web/kendo.common-fiori.less";
@import "./vendor/kendo/web/kendo.fiori.less";
@import "./vendor/kendo/mobile/kendo.mobile.fiori.less";

@import "./app.template.less";
@import (optional) "highlightjs.custom.less";

// Style fixes
.k-fiori, .km-fiori {
    /**********************************************************
    * Kendo UI
    **********************************************************/
    .km-button.km-primary {
        // This is for primary buttons which are missing
        background-color: @selected-background;
        color: @selected-text-color;
    }
    .k-notification.k-notification-info {
        border-color: @fiori-button-border;
    }
    .k-animation-container {
        // This is for dropdown popups to match actionsheet popups
        .k-list-container {
            .k-list-scroller {
                .k-list {
                    font-size: 1.4em;
                }
            }
        }
    }
    /**********************************************************
     * Navbar
     **********************************************************/
    .km-navbar {
        background-color: @selected-background;
        color: @selected-text-color;
        // Navbar view title
        .km-view-title {
            background-color: transparent;
        }
        // Navbar buttons
        .km-button {
            background-color: darken(@selected-background, 8%);
        }
    }
    /**********************************************************
     * Drawer
     **********************************************************/
    .km-drawer {
        // Drawer navbar colors
        .km-navbar {
            background-color: @fiori-inverse-background;
            // Logo
            #logo > g:first-child > path {
                fill: #fff;
                stroke: #fff;
            }
        }
        // Drawer menu colors
        .km-content, .km-list > li {
            // background-color: @fiori-inverse-background;
            background-color: darken(@selected-background, 8%);
            color: @fiori-inverse-text;
            // Allow some space between icons and text
            .km-listview-link > .km-icon {
                margin: 0 .7em 0 .3em;
            }
        }
    }
    /**********************************************************
     * Listview
     **********************************************************/
    .km-listview {
        label {
            // Readonly values
            .form-readonly {
                margin-top: -2.2em;
            }
            // Align settings dropdowns with span.k-input
            span.k-dropdown {
                font-size: 1em;
                margin-top: 0;
                span.k-dropdown-wrap {
                    font-size: inherit;
                    span.k-input {
                        text-indent: 0.2em;
                    }
                }
            }
        }
    }
}
