@import "./vendor/kendo/web/kendo.common-fiori.less";
@import "./vendor/kendo/web/kendo.fiori.less";
@import "./vendor/kendo/mobile/kendo.mobile.android.light.less";

@import "./app.template.less";
@import (optional) "highlightjs.custom.less";

// Style fixes
.km-root {
    .km-android {
        .km-navbar {
            font-size: 1em;
        }
        .k-dropdown {
            margin-top: 0;
        }
    }
}
.km-android {
    // Switches header and footer in android to make it look like iOS
    // http://docs.telerik.com/kendo-ui/controls/hybrid/application#place-the-tabstrip-at-the-bottom-in-android
    .km-view:not(.km-splitview) {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .km-view-title {
        visibility: visible;
        display: block;
    }
    /**********************************************************
     * Drawer
     **********************************************************/
    .km-drawer {
        // Logo color
        .km-navbar {
            #logo > g:first-child > path {
                fill: #000;
                stroke: #000;
            }
        }
        // Drawer menu colors
        .km-content, .km-list > li {
            background-color: @selected-background;
            color: @selected-text-color;
            // Allow some space between icons and text
            .km-listview-link > .km-icon {
                margin-right: .3em;
            }
        }
    }
    /**********************************************************
     * Listview
     **********************************************************/
    .km-listview.km-list {
        // Readonly values
        .form-readonly {
            margin-top: -2em;
        }
        // Align settings dropdowns with span.k-input
        span.k-dropdown {
            margin-top: -1.2em;
            span.k-dropdown-wrap {
                padding-left: 0.2em;
            }
        }
    }

    // TODO ellipsis on finder list
    // TODO: List badged

}
