html, body, #phone {
    height: 100%;
    margin: 0;
    /**********************************************************
    * Drawer
    **********************************************************/
    #phone-drawer {
        .km-view-title {
            text-align: left;
            margin-left: 0.5em;
        }
        .km-scroll-container {
            // Make sure drawer items are aligned to the top especially with nova theme */
            display: initial;
            // Make list items larger for all themes
            .km-listview > li {
                padding: .84em .7em;
            }
        }
    }
    /**********************************************************
    * Activities view
    **********************************************************/
    #phone-activities {

    }
    /**********************************************************
    * Categories view
    **********************************************************/
    #phone-categories {
        .km-listview > li {
            padding: .5em .84em;
            .km-thumbnail {
                border: none;
                border-radius: 0;
                height: 1.8rem;
                width: 1.8rem;
                vertical-align: middle;
            }
        }
    }
    /**********************************************************
    * Favourites view
    **********************************************************/
    #phone-favourites {

    }
    /**********************************************************
    * Player view
    **********************************************************/
    #phone-player {
        .km-stretched-view {
            // http://docs.telerik.com/kendo-ui/controls/hybrid/how-to/relative-content-size-using-flexboxes
            display: flex;
            flex-wrap: wrap;
            .padding {
                padding: 1em;
                .heading {
                    h2 {
                        margin: 0;
                        font-size: 1rem;
                        img {
                            height: 1.5em;
                            width: 1.5em;
                            margin-right: 0.5em;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    /**********************************************************
     * Score view
     **********************************************************/
    #phone-score {

    }
    /**********************************************************
     * Settings view
     **********************************************************/
    #phone-settings {

    }
    /**********************************************************
    * Sign-in view
    **********************************************************/
    #phone-signin {
        .km-button {
            width: 100%;
            color: #ffffff;
        }
        .km-button[data-provider="google"] {
            background-color: #d9534f;
        }
        .km-button[data-provider="facebook"] {
            background-color: #337ab7;
        }
        .km-button[data-provider="twitter"] {
            background-color: #5bc0de;
        }
        .km-button[data-provider="live"] {
            background-color: #5cb85c;
        }
        .km-button[data-provider="dummy"] {
            color: initial;
        }
    }
    /**********************************************************
    * Summaries view (search results)
    **********************************************************/
    #phone-summaries {
        .km-listview {
            li {
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                .km-thumbnail {
                    border: none;
                    border-radius: 0;
                    height: 3.35rem;
                    width: 3.35rem;
                    margin-right: 0;
                    float: left;
                }
                .summary {
                    margin-left: 4rem;
                    h4 {
                        margin: 0 .2em;
                        font-weight: bold;
                        font-size: 1.1em;
                    }
                    .tags {
                        margin: 0 .2em;
                        font-size: 0.8em;
                    }
                    .metrics {
                        margin: 0 .2em;
                        font-size: 0.8em;
                        font-size: 0.8em;
                    }
                    .km-button-right {
                        margin-top: -1em;
                        float: right;
                    }
                }
            }
        }
    }
}

